header
  h1 ei-font-1 contains 40 glyphs:
  a href="#" onclick=("toggleCharacters(); return false;")  Toggle Preview Characters
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-airplane135.ef1-airplane135
    span.step.size-14
      span.letters Pp
      i#ef1-airplane135.ef1-airplane135
    span.step.size-16
      span.letters Pp
      i#ef1-airplane135.ef1-airplane135
    span.step.size-18
      span.letters Pp
      i#ef1-airplane135.ef1-airplane135
    span.step.size-21
      span.letters Pp
      i#ef1-airplane135.ef1-airplane135
    span.step.size-24
      span.letters Pp
      i#ef1-airplane135.ef1-airplane135
    span.step.size-36
      span.letters Pp
      i#ef1-airplane135.ef1-airplane135
    span.step.size-48
      span.letters Pp
      i#ef1-airplane135.ef1-airplane135
    span.step.size-60
      span.letters Pp
      i#ef1-airplane135.ef1-airplane135
    span.step.size-72
      span.letters Pp
      i#ef1-airplane135.ef1-airplane135
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-airplane135" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf100;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-boat71.ef1-boat71
    span.step.size-14
      span.letters Pp
      i#ef1-boat71.ef1-boat71
    span.step.size-16
      span.letters Pp
      i#ef1-boat71.ef1-boat71
    span.step.size-18
      span.letters Pp
      i#ef1-boat71.ef1-boat71
    span.step.size-21
      span.letters Pp
      i#ef1-boat71.ef1-boat71
    span.step.size-24
      span.letters Pp
      i#ef1-boat71.ef1-boat71
    span.step.size-36
      span.letters Pp
      i#ef1-boat71.ef1-boat71
    span.step.size-48
      span.letters Pp
      i#ef1-boat71.ef1-boat71
    span.step.size-60
      span.letters Pp
      i#ef1-boat71.ef1-boat71
    span.step.size-72
      span.letters Pp
      i#ef1-boat71.ef1-boat71
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-boat71" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf101;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-boat72.ef1-boat72
    span.step.size-14
      span.letters Pp
      i#ef1-boat72.ef1-boat72
    span.step.size-16
      span.letters Pp
      i#ef1-boat72.ef1-boat72
    span.step.size-18
      span.letters Pp
      i#ef1-boat72.ef1-boat72
    span.step.size-21
      span.letters Pp
      i#ef1-boat72.ef1-boat72
    span.step.size-24
      span.letters Pp
      i#ef1-boat72.ef1-boat72
    span.step.size-36
      span.letters Pp
      i#ef1-boat72.ef1-boat72
    span.step.size-48
      span.letters Pp
      i#ef1-boat72.ef1-boat72
    span.step.size-60
      span.letters Pp
      i#ef1-boat72.ef1-boat72
    span.step.size-72
      span.letters Pp
      i#ef1-boat72.ef1-boat72
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-boat72" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf102;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-clouds83.ef1-clouds83
    span.step.size-14
      span.letters Pp
      i#ef1-clouds83.ef1-clouds83
    span.step.size-16
      span.letters Pp
      i#ef1-clouds83.ef1-clouds83
    span.step.size-18
      span.letters Pp
      i#ef1-clouds83.ef1-clouds83
    span.step.size-21
      span.letters Pp
      i#ef1-clouds83.ef1-clouds83
    span.step.size-24
      span.letters Pp
      i#ef1-clouds83.ef1-clouds83
    span.step.size-36
      span.letters Pp
      i#ef1-clouds83.ef1-clouds83
    span.step.size-48
      span.letters Pp
      i#ef1-clouds83.ef1-clouds83
    span.step.size-60
      span.letters Pp
      i#ef1-clouds83.ef1-clouds83
    span.step.size-72
      span.letters Pp
      i#ef1-clouds83.ef1-clouds83
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-clouds83" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf103;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-lifesaver29.ef1-lifesaver29
    span.step.size-14
      span.letters Pp
      i#ef1-lifesaver29.ef1-lifesaver29
    span.step.size-16
      span.letters Pp
      i#ef1-lifesaver29.ef1-lifesaver29
    span.step.size-18
      span.letters Pp
      i#ef1-lifesaver29.ef1-lifesaver29
    span.step.size-21
      span.letters Pp
      i#ef1-lifesaver29.ef1-lifesaver29
    span.step.size-24
      span.letters Pp
      i#ef1-lifesaver29.ef1-lifesaver29
    span.step.size-36
      span.letters Pp
      i#ef1-lifesaver29.ef1-lifesaver29
    span.step.size-48
      span.letters Pp
      i#ef1-lifesaver29.ef1-lifesaver29
    span.step.size-60
      span.letters Pp
      i#ef1-lifesaver29.ef1-lifesaver29
    span.step.size-72
      span.letters Pp
      i#ef1-lifesaver29.ef1-lifesaver29
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-lifesaver29" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf104;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-lifesaver30.ef1-lifesaver30
    span.step.size-14
      span.letters Pp
      i#ef1-lifesaver30.ef1-lifesaver30
    span.step.size-16
      span.letters Pp
      i#ef1-lifesaver30.ef1-lifesaver30
    span.step.size-18
      span.letters Pp
      i#ef1-lifesaver30.ef1-lifesaver30
    span.step.size-21
      span.letters Pp
      i#ef1-lifesaver30.ef1-lifesaver30
    span.step.size-24
      span.letters Pp
      i#ef1-lifesaver30.ef1-lifesaver30
    span.step.size-36
      span.letters Pp
      i#ef1-lifesaver30.ef1-lifesaver30
    span.step.size-48
      span.letters Pp
      i#ef1-lifesaver30.ef1-lifesaver30
    span.step.size-60
      span.letters Pp
      i#ef1-lifesaver30.ef1-lifesaver30
    span.step.size-72
      span.letters Pp
      i#ef1-lifesaver30.ef1-lifesaver30
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-lifesaver30" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf105;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-look19.ef1-look19
    span.step.size-14
      span.letters Pp
      i#ef1-look19.ef1-look19
    span.step.size-16
      span.letters Pp
      i#ef1-look19.ef1-look19
    span.step.size-18
      span.letters Pp
      i#ef1-look19.ef1-look19
    span.step.size-21
      span.letters Pp
      i#ef1-look19.ef1-look19
    span.step.size-24
      span.letters Pp
      i#ef1-look19.ef1-look19
    span.step.size-36
      span.letters Pp
      i#ef1-look19.ef1-look19
    span.step.size-48
      span.letters Pp
      i#ef1-look19.ef1-look19
    span.step.size-60
      span.letters Pp
      i#ef1-look19.ef1-look19
    span.step.size-72
      span.letters Pp
      i#ef1-look19.ef1-look19
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-look19" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf106;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-orientation42.ef1-orientation42
    span.step.size-14
      span.letters Pp
      i#ef1-orientation42.ef1-orientation42
    span.step.size-16
      span.letters Pp
      i#ef1-orientation42.ef1-orientation42
    span.step.size-18
      span.letters Pp
      i#ef1-orientation42.ef1-orientation42
    span.step.size-21
      span.letters Pp
      i#ef1-orientation42.ef1-orientation42
    span.step.size-24
      span.letters Pp
      i#ef1-orientation42.ef1-orientation42
    span.step.size-36
      span.letters Pp
      i#ef1-orientation42.ef1-orientation42
    span.step.size-48
      span.letters Pp
      i#ef1-orientation42.ef1-orientation42
    span.step.size-60
      span.letters Pp
      i#ef1-orientation42.ef1-orientation42
    span.step.size-72
      span.letters Pp
      i#ef1-orientation42.ef1-orientation42
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-orientation42" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf107;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-orientation43.ef1-orientation43
    span.step.size-14
      span.letters Pp
      i#ef1-orientation43.ef1-orientation43
    span.step.size-16
      span.letters Pp
      i#ef1-orientation43.ef1-orientation43
    span.step.size-18
      span.letters Pp
      i#ef1-orientation43.ef1-orientation43
    span.step.size-21
      span.letters Pp
      i#ef1-orientation43.ef1-orientation43
    span.step.size-24
      span.letters Pp
      i#ef1-orientation43.ef1-orientation43
    span.step.size-36
      span.letters Pp
      i#ef1-orientation43.ef1-orientation43
    span.step.size-48
      span.letters Pp
      i#ef1-orientation43.ef1-orientation43
    span.step.size-60
      span.letters Pp
      i#ef1-orientation43.ef1-orientation43
    span.step.size-72
      span.letters Pp
      i#ef1-orientation43.ef1-orientation43
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-orientation43" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf108;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-orientation44.ef1-orientation44
    span.step.size-14
      span.letters Pp
      i#ef1-orientation44.ef1-orientation44
    span.step.size-16
      span.letters Pp
      i#ef1-orientation44.ef1-orientation44
    span.step.size-18
      span.letters Pp
      i#ef1-orientation44.ef1-orientation44
    span.step.size-21
      span.letters Pp
      i#ef1-orientation44.ef1-orientation44
    span.step.size-24
      span.letters Pp
      i#ef1-orientation44.ef1-orientation44
    span.step.size-36
      span.letters Pp
      i#ef1-orientation44.ef1-orientation44
    span.step.size-48
      span.letters Pp
      i#ef1-orientation44.ef1-orientation44
    span.step.size-60
      span.letters Pp
      i#ef1-orientation44.ef1-orientation44
    span.step.size-72
      span.letters Pp
      i#ef1-orientation44.ef1-orientation44
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-orientation44" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf109;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-placeholder58.ef1-placeholder58
    span.step.size-14
      span.letters Pp
      i#ef1-placeholder58.ef1-placeholder58
    span.step.size-16
      span.letters Pp
      i#ef1-placeholder58.ef1-placeholder58
    span.step.size-18
      span.letters Pp
      i#ef1-placeholder58.ef1-placeholder58
    span.step.size-21
      span.letters Pp
      i#ef1-placeholder58.ef1-placeholder58
    span.step.size-24
      span.letters Pp
      i#ef1-placeholder58.ef1-placeholder58
    span.step.size-36
      span.letters Pp
      i#ef1-placeholder58.ef1-placeholder58
    span.step.size-48
      span.letters Pp
      i#ef1-placeholder58.ef1-placeholder58
    span.step.size-60
      span.letters Pp
      i#ef1-placeholder58.ef1-placeholder58
    span.step.size-72
      span.letters Pp
      i#ef1-placeholder58.ef1-placeholder58
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-placeholder58" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-placeholder59.ef1-placeholder59
    span.step.size-14
      span.letters Pp
      i#ef1-placeholder59.ef1-placeholder59
    span.step.size-16
      span.letters Pp
      i#ef1-placeholder59.ef1-placeholder59
    span.step.size-18
      span.letters Pp
      i#ef1-placeholder59.ef1-placeholder59
    span.step.size-21
      span.letters Pp
      i#ef1-placeholder59.ef1-placeholder59
    span.step.size-24
      span.letters Pp
      i#ef1-placeholder59.ef1-placeholder59
    span.step.size-36
      span.letters Pp
      i#ef1-placeholder59.ef1-placeholder59
    span.step.size-48
      span.letters Pp
      i#ef1-placeholder59.ef1-placeholder59
    span.step.size-60
      span.letters Pp
      i#ef1-placeholder59.ef1-placeholder59
    span.step.size-72
      span.letters Pp
      i#ef1-placeholder59.ef1-placeholder59
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-placeholder59" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-road-map4.ef1-road-map4
    span.step.size-14
      span.letters Pp
      i#ef1-road-map4.ef1-road-map4
    span.step.size-16
      span.letters Pp
      i#ef1-road-map4.ef1-road-map4
    span.step.size-18
      span.letters Pp
      i#ef1-road-map4.ef1-road-map4
    span.step.size-21
      span.letters Pp
      i#ef1-road-map4.ef1-road-map4
    span.step.size-24
      span.letters Pp
      i#ef1-road-map4.ef1-road-map4
    span.step.size-36
      span.letters Pp
      i#ef1-road-map4.ef1-road-map4
    span.step.size-48
      span.letters Pp
      i#ef1-road-map4.ef1-road-map4
    span.step.size-60
      span.letters Pp
      i#ef1-road-map4.ef1-road-map4
    span.step.size-72
      span.letters Pp
      i#ef1-road-map4.ef1-road-map4
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-road-map4" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-sailing19.ef1-sailing19
    span.step.size-14
      span.letters Pp
      i#ef1-sailing19.ef1-sailing19
    span.step.size-16
      span.letters Pp
      i#ef1-sailing19.ef1-sailing19
    span.step.size-18
      span.letters Pp
      i#ef1-sailing19.ef1-sailing19
    span.step.size-21
      span.letters Pp
      i#ef1-sailing19.ef1-sailing19
    span.step.size-24
      span.letters Pp
      i#ef1-sailing19.ef1-sailing19
    span.step.size-36
      span.letters Pp
      i#ef1-sailing19.ef1-sailing19
    span.step.size-48
      span.letters Pp
      i#ef1-sailing19.ef1-sailing19
    span.step.size-60
      span.letters Pp
      i#ef1-sailing19.ef1-sailing19
    span.step.size-72
      span.letters Pp
      i#ef1-sailing19.ef1-sailing19
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-sailing19" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10d;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-surf22.ef1-surf22
    span.step.size-14
      span.letters Pp
      i#ef1-surf22.ef1-surf22
    span.step.size-16
      span.letters Pp
      i#ef1-surf22.ef1-surf22
    span.step.size-18
      span.letters Pp
      i#ef1-surf22.ef1-surf22
    span.step.size-21
      span.letters Pp
      i#ef1-surf22.ef1-surf22
    span.step.size-24
      span.letters Pp
      i#ef1-surf22.ef1-surf22
    span.step.size-36
      span.letters Pp
      i#ef1-surf22.ef1-surf22
    span.step.size-48
      span.letters Pp
      i#ef1-surf22.ef1-surf22
    span.step.size-60
      span.letters Pp
      i#ef1-surf22.ef1-surf22
    span.step.size-72
      span.letters Pp
      i#ef1-surf22.ef1-surf22
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-surf22" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10e;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-telescopes4.ef1-telescopes4
    span.step.size-14
      span.letters Pp
      i#ef1-telescopes4.ef1-telescopes4
    span.step.size-16
      span.letters Pp
      i#ef1-telescopes4.ef1-telescopes4
    span.step.size-18
      span.letters Pp
      i#ef1-telescopes4.ef1-telescopes4
    span.step.size-21
      span.letters Pp
      i#ef1-telescopes4.ef1-telescopes4
    span.step.size-24
      span.letters Pp
      i#ef1-telescopes4.ef1-telescopes4
    span.step.size-36
      span.letters Pp
      i#ef1-telescopes4.ef1-telescopes4
    span.step.size-48
      span.letters Pp
      i#ef1-telescopes4.ef1-telescopes4
    span.step.size-60
      span.letters Pp
      i#ef1-telescopes4.ef1-telescopes4
    span.step.size-72
      span.letters Pp
      i#ef1-telescopes4.ef1-telescopes4
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-telescopes4" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10f;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-tool106.ef1-tool106
    span.step.size-14
      span.letters Pp
      i#ef1-tool106.ef1-tool106
    span.step.size-16
      span.letters Pp
      i#ef1-tool106.ef1-tool106
    span.step.size-18
      span.letters Pp
      i#ef1-tool106.ef1-tool106
    span.step.size-21
      span.letters Pp
      i#ef1-tool106.ef1-tool106
    span.step.size-24
      span.letters Pp
      i#ef1-tool106.ef1-tool106
    span.step.size-36
      span.letters Pp
      i#ef1-tool106.ef1-tool106
    span.step.size-48
      span.letters Pp
      i#ef1-tool106.ef1-tool106
    span.step.size-60
      span.letters Pp
      i#ef1-tool106.ef1-tool106
    span.step.size-72
      span.letters Pp
      i#ef1-tool106.ef1-tool106
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-tool106" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf110;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport550.ef1-transport550
    span.step.size-14
      span.letters Pp
      i#ef1-transport550.ef1-transport550
    span.step.size-16
      span.letters Pp
      i#ef1-transport550.ef1-transport550
    span.step.size-18
      span.letters Pp
      i#ef1-transport550.ef1-transport550
    span.step.size-21
      span.letters Pp
      i#ef1-transport550.ef1-transport550
    span.step.size-24
      span.letters Pp
      i#ef1-transport550.ef1-transport550
    span.step.size-36
      span.letters Pp
      i#ef1-transport550.ef1-transport550
    span.step.size-48
      span.letters Pp
      i#ef1-transport550.ef1-transport550
    span.step.size-60
      span.letters Pp
      i#ef1-transport550.ef1-transport550
    span.step.size-72
      span.letters Pp
      i#ef1-transport550.ef1-transport550
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport550" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf111;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport551.ef1-transport551
    span.step.size-14
      span.letters Pp
      i#ef1-transport551.ef1-transport551
    span.step.size-16
      span.letters Pp
      i#ef1-transport551.ef1-transport551
    span.step.size-18
      span.letters Pp
      i#ef1-transport551.ef1-transport551
    span.step.size-21
      span.letters Pp
      i#ef1-transport551.ef1-transport551
    span.step.size-24
      span.letters Pp
      i#ef1-transport551.ef1-transport551
    span.step.size-36
      span.letters Pp
      i#ef1-transport551.ef1-transport551
    span.step.size-48
      span.letters Pp
      i#ef1-transport551.ef1-transport551
    span.step.size-60
      span.letters Pp
      i#ef1-transport551.ef1-transport551
    span.step.size-72
      span.letters Pp
      i#ef1-transport551.ef1-transport551
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport551" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf112;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport552.ef1-transport552
    span.step.size-14
      span.letters Pp
      i#ef1-transport552.ef1-transport552
    span.step.size-16
      span.letters Pp
      i#ef1-transport552.ef1-transport552
    span.step.size-18
      span.letters Pp
      i#ef1-transport552.ef1-transport552
    span.step.size-21
      span.letters Pp
      i#ef1-transport552.ef1-transport552
    span.step.size-24
      span.letters Pp
      i#ef1-transport552.ef1-transport552
    span.step.size-36
      span.letters Pp
      i#ef1-transport552.ef1-transport552
    span.step.size-48
      span.letters Pp
      i#ef1-transport552.ef1-transport552
    span.step.size-60
      span.letters Pp
      i#ef1-transport552.ef1-transport552
    span.step.size-72
      span.letters Pp
      i#ef1-transport552.ef1-transport552
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport552" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf113;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport553.ef1-transport553
    span.step.size-14
      span.letters Pp
      i#ef1-transport553.ef1-transport553
    span.step.size-16
      span.letters Pp
      i#ef1-transport553.ef1-transport553
    span.step.size-18
      span.letters Pp
      i#ef1-transport553.ef1-transport553
    span.step.size-21
      span.letters Pp
      i#ef1-transport553.ef1-transport553
    span.step.size-24
      span.letters Pp
      i#ef1-transport553.ef1-transport553
    span.step.size-36
      span.letters Pp
      i#ef1-transport553.ef1-transport553
    span.step.size-48
      span.letters Pp
      i#ef1-transport553.ef1-transport553
    span.step.size-60
      span.letters Pp
      i#ef1-transport553.ef1-transport553
    span.step.size-72
      span.letters Pp
      i#ef1-transport553.ef1-transport553
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport553" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf114;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport554.ef1-transport554
    span.step.size-14
      span.letters Pp
      i#ef1-transport554.ef1-transport554
    span.step.size-16
      span.letters Pp
      i#ef1-transport554.ef1-transport554
    span.step.size-18
      span.letters Pp
      i#ef1-transport554.ef1-transport554
    span.step.size-21
      span.letters Pp
      i#ef1-transport554.ef1-transport554
    span.step.size-24
      span.letters Pp
      i#ef1-transport554.ef1-transport554
    span.step.size-36
      span.letters Pp
      i#ef1-transport554.ef1-transport554
    span.step.size-48
      span.letters Pp
      i#ef1-transport554.ef1-transport554
    span.step.size-60
      span.letters Pp
      i#ef1-transport554.ef1-transport554
    span.step.size-72
      span.letters Pp
      i#ef1-transport554.ef1-transport554
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport554" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf115;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport555.ef1-transport555
    span.step.size-14
      span.letters Pp
      i#ef1-transport555.ef1-transport555
    span.step.size-16
      span.letters Pp
      i#ef1-transport555.ef1-transport555
    span.step.size-18
      span.letters Pp
      i#ef1-transport555.ef1-transport555
    span.step.size-21
      span.letters Pp
      i#ef1-transport555.ef1-transport555
    span.step.size-24
      span.letters Pp
      i#ef1-transport555.ef1-transport555
    span.step.size-36
      span.letters Pp
      i#ef1-transport555.ef1-transport555
    span.step.size-48
      span.letters Pp
      i#ef1-transport555.ef1-transport555
    span.step.size-60
      span.letters Pp
      i#ef1-transport555.ef1-transport555
    span.step.size-72
      span.letters Pp
      i#ef1-transport555.ef1-transport555
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport555" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf116;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport556.ef1-transport556
    span.step.size-14
      span.letters Pp
      i#ef1-transport556.ef1-transport556
    span.step.size-16
      span.letters Pp
      i#ef1-transport556.ef1-transport556
    span.step.size-18
      span.letters Pp
      i#ef1-transport556.ef1-transport556
    span.step.size-21
      span.letters Pp
      i#ef1-transport556.ef1-transport556
    span.step.size-24
      span.letters Pp
      i#ef1-transport556.ef1-transport556
    span.step.size-36
      span.letters Pp
      i#ef1-transport556.ef1-transport556
    span.step.size-48
      span.letters Pp
      i#ef1-transport556.ef1-transport556
    span.step.size-60
      span.letters Pp
      i#ef1-transport556.ef1-transport556
    span.step.size-72
      span.letters Pp
      i#ef1-transport556.ef1-transport556
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport556" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf117;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport557.ef1-transport557
    span.step.size-14
      span.letters Pp
      i#ef1-transport557.ef1-transport557
    span.step.size-16
      span.letters Pp
      i#ef1-transport557.ef1-transport557
    span.step.size-18
      span.letters Pp
      i#ef1-transport557.ef1-transport557
    span.step.size-21
      span.letters Pp
      i#ef1-transport557.ef1-transport557
    span.step.size-24
      span.letters Pp
      i#ef1-transport557.ef1-transport557
    span.step.size-36
      span.letters Pp
      i#ef1-transport557.ef1-transport557
    span.step.size-48
      span.letters Pp
      i#ef1-transport557.ef1-transport557
    span.step.size-60
      span.letters Pp
      i#ef1-transport557.ef1-transport557
    span.step.size-72
      span.letters Pp
      i#ef1-transport557.ef1-transport557
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport557" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf118;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport558.ef1-transport558
    span.step.size-14
      span.letters Pp
      i#ef1-transport558.ef1-transport558
    span.step.size-16
      span.letters Pp
      i#ef1-transport558.ef1-transport558
    span.step.size-18
      span.letters Pp
      i#ef1-transport558.ef1-transport558
    span.step.size-21
      span.letters Pp
      i#ef1-transport558.ef1-transport558
    span.step.size-24
      span.letters Pp
      i#ef1-transport558.ef1-transport558
    span.step.size-36
      span.letters Pp
      i#ef1-transport558.ef1-transport558
    span.step.size-48
      span.letters Pp
      i#ef1-transport558.ef1-transport558
    span.step.size-60
      span.letters Pp
      i#ef1-transport558.ef1-transport558
    span.step.size-72
      span.letters Pp
      i#ef1-transport558.ef1-transport558
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport558" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf119;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport559.ef1-transport559
    span.step.size-14
      span.letters Pp
      i#ef1-transport559.ef1-transport559
    span.step.size-16
      span.letters Pp
      i#ef1-transport559.ef1-transport559
    span.step.size-18
      span.letters Pp
      i#ef1-transport559.ef1-transport559
    span.step.size-21
      span.letters Pp
      i#ef1-transport559.ef1-transport559
    span.step.size-24
      span.letters Pp
      i#ef1-transport559.ef1-transport559
    span.step.size-36
      span.letters Pp
      i#ef1-transport559.ef1-transport559
    span.step.size-48
      span.letters Pp
      i#ef1-transport559.ef1-transport559
    span.step.size-60
      span.letters Pp
      i#ef1-transport559.ef1-transport559
    span.step.size-72
      span.letters Pp
      i#ef1-transport559.ef1-transport559
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport559" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport560.ef1-transport560
    span.step.size-14
      span.letters Pp
      i#ef1-transport560.ef1-transport560
    span.step.size-16
      span.letters Pp
      i#ef1-transport560.ef1-transport560
    span.step.size-18
      span.letters Pp
      i#ef1-transport560.ef1-transport560
    span.step.size-21
      span.letters Pp
      i#ef1-transport560.ef1-transport560
    span.step.size-24
      span.letters Pp
      i#ef1-transport560.ef1-transport560
    span.step.size-36
      span.letters Pp
      i#ef1-transport560.ef1-transport560
    span.step.size-48
      span.letters Pp
      i#ef1-transport560.ef1-transport560
    span.step.size-60
      span.letters Pp
      i#ef1-transport560.ef1-transport560
    span.step.size-72
      span.letters Pp
      i#ef1-transport560.ef1-transport560
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport560" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport561.ef1-transport561
    span.step.size-14
      span.letters Pp
      i#ef1-transport561.ef1-transport561
    span.step.size-16
      span.letters Pp
      i#ef1-transport561.ef1-transport561
    span.step.size-18
      span.letters Pp
      i#ef1-transport561.ef1-transport561
    span.step.size-21
      span.letters Pp
      i#ef1-transport561.ef1-transport561
    span.step.size-24
      span.letters Pp
      i#ef1-transport561.ef1-transport561
    span.step.size-36
      span.letters Pp
      i#ef1-transport561.ef1-transport561
    span.step.size-48
      span.letters Pp
      i#ef1-transport561.ef1-transport561
    span.step.size-60
      span.letters Pp
      i#ef1-transport561.ef1-transport561
    span.step.size-72
      span.letters Pp
      i#ef1-transport561.ef1-transport561
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport561" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport562.ef1-transport562
    span.step.size-14
      span.letters Pp
      i#ef1-transport562.ef1-transport562
    span.step.size-16
      span.letters Pp
      i#ef1-transport562.ef1-transport562
    span.step.size-18
      span.letters Pp
      i#ef1-transport562.ef1-transport562
    span.step.size-21
      span.letters Pp
      i#ef1-transport562.ef1-transport562
    span.step.size-24
      span.letters Pp
      i#ef1-transport562.ef1-transport562
    span.step.size-36
      span.letters Pp
      i#ef1-transport562.ef1-transport562
    span.step.size-48
      span.letters Pp
      i#ef1-transport562.ef1-transport562
    span.step.size-60
      span.letters Pp
      i#ef1-transport562.ef1-transport562
    span.step.size-72
      span.letters Pp
      i#ef1-transport562.ef1-transport562
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport562" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11d;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport563.ef1-transport563
    span.step.size-14
      span.letters Pp
      i#ef1-transport563.ef1-transport563
    span.step.size-16
      span.letters Pp
      i#ef1-transport563.ef1-transport563
    span.step.size-18
      span.letters Pp
      i#ef1-transport563.ef1-transport563
    span.step.size-21
      span.letters Pp
      i#ef1-transport563.ef1-transport563
    span.step.size-24
      span.letters Pp
      i#ef1-transport563.ef1-transport563
    span.step.size-36
      span.letters Pp
      i#ef1-transport563.ef1-transport563
    span.step.size-48
      span.letters Pp
      i#ef1-transport563.ef1-transport563
    span.step.size-60
      span.letters Pp
      i#ef1-transport563.ef1-transport563
    span.step.size-72
      span.letters Pp
      i#ef1-transport563.ef1-transport563
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport563" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11e;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport564.ef1-transport564
    span.step.size-14
      span.letters Pp
      i#ef1-transport564.ef1-transport564
    span.step.size-16
      span.letters Pp
      i#ef1-transport564.ef1-transport564
    span.step.size-18
      span.letters Pp
      i#ef1-transport564.ef1-transport564
    span.step.size-21
      span.letters Pp
      i#ef1-transport564.ef1-transport564
    span.step.size-24
      span.letters Pp
      i#ef1-transport564.ef1-transport564
    span.step.size-36
      span.letters Pp
      i#ef1-transport564.ef1-transport564
    span.step.size-48
      span.letters Pp
      i#ef1-transport564.ef1-transport564
    span.step.size-60
      span.letters Pp
      i#ef1-transport564.ef1-transport564
    span.step.size-72
      span.letters Pp
      i#ef1-transport564.ef1-transport564
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport564" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11f;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport565.ef1-transport565
    span.step.size-14
      span.letters Pp
      i#ef1-transport565.ef1-transport565
    span.step.size-16
      span.letters Pp
      i#ef1-transport565.ef1-transport565
    span.step.size-18
      span.letters Pp
      i#ef1-transport565.ef1-transport565
    span.step.size-21
      span.letters Pp
      i#ef1-transport565.ef1-transport565
    span.step.size-24
      span.letters Pp
      i#ef1-transport565.ef1-transport565
    span.step.size-36
      span.letters Pp
      i#ef1-transport565.ef1-transport565
    span.step.size-48
      span.letters Pp
      i#ef1-transport565.ef1-transport565
    span.step.size-60
      span.letters Pp
      i#ef1-transport565.ef1-transport565
    span.step.size-72
      span.letters Pp
      i#ef1-transport565.ef1-transport565
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport565" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf120;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport566.ef1-transport566
    span.step.size-14
      span.letters Pp
      i#ef1-transport566.ef1-transport566
    span.step.size-16
      span.letters Pp
      i#ef1-transport566.ef1-transport566
    span.step.size-18
      span.letters Pp
      i#ef1-transport566.ef1-transport566
    span.step.size-21
      span.letters Pp
      i#ef1-transport566.ef1-transport566
    span.step.size-24
      span.letters Pp
      i#ef1-transport566.ef1-transport566
    span.step.size-36
      span.letters Pp
      i#ef1-transport566.ef1-transport566
    span.step.size-48
      span.letters Pp
      i#ef1-transport566.ef1-transport566
    span.step.size-60
      span.letters Pp
      i#ef1-transport566.ef1-transport566
    span.step.size-72
      span.letters Pp
      i#ef1-transport566.ef1-transport566
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport566" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf121;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport567.ef1-transport567
    span.step.size-14
      span.letters Pp
      i#ef1-transport567.ef1-transport567
    span.step.size-16
      span.letters Pp
      i#ef1-transport567.ef1-transport567
    span.step.size-18
      span.letters Pp
      i#ef1-transport567.ef1-transport567
    span.step.size-21
      span.letters Pp
      i#ef1-transport567.ef1-transport567
    span.step.size-24
      span.letters Pp
      i#ef1-transport567.ef1-transport567
    span.step.size-36
      span.letters Pp
      i#ef1-transport567.ef1-transport567
    span.step.size-48
      span.letters Pp
      i#ef1-transport567.ef1-transport567
    span.step.size-60
      span.letters Pp
      i#ef1-transport567.ef1-transport567
    span.step.size-72
      span.letters Pp
      i#ef1-transport567.ef1-transport567
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport567" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf122;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport568.ef1-transport568
    span.step.size-14
      span.letters Pp
      i#ef1-transport568.ef1-transport568
    span.step.size-16
      span.letters Pp
      i#ef1-transport568.ef1-transport568
    span.step.size-18
      span.letters Pp
      i#ef1-transport568.ef1-transport568
    span.step.size-21
      span.letters Pp
      i#ef1-transport568.ef1-transport568
    span.step.size-24
      span.letters Pp
      i#ef1-transport568.ef1-transport568
    span.step.size-36
      span.letters Pp
      i#ef1-transport568.ef1-transport568
    span.step.size-48
      span.letters Pp
      i#ef1-transport568.ef1-transport568
    span.step.size-60
      span.letters Pp
      i#ef1-transport568.ef1-transport568
    span.step.size-72
      span.letters Pp
      i#ef1-transport568.ef1-transport568
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport568" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf123;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport569.ef1-transport569
    span.step.size-14
      span.letters Pp
      i#ef1-transport569.ef1-transport569
    span.step.size-16
      span.letters Pp
      i#ef1-transport569.ef1-transport569
    span.step.size-18
      span.letters Pp
      i#ef1-transport569.ef1-transport569
    span.step.size-21
      span.letters Pp
      i#ef1-transport569.ef1-transport569
    span.step.size-24
      span.letters Pp
      i#ef1-transport569.ef1-transport569
    span.step.size-36
      span.letters Pp
      i#ef1-transport569.ef1-transport569
    span.step.size-48
      span.letters Pp
      i#ef1-transport569.ef1-transport569
    span.step.size-60
      span.letters Pp
      i#ef1-transport569.ef1-transport569
    span.step.size-72
      span.letters Pp
      i#ef1-transport569.ef1-transport569
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport569" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf124;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport570.ef1-transport570
    span.step.size-14
      span.letters Pp
      i#ef1-transport570.ef1-transport570
    span.step.size-16
      span.letters Pp
      i#ef1-transport570.ef1-transport570
    span.step.size-18
      span.letters Pp
      i#ef1-transport570.ef1-transport570
    span.step.size-21
      span.letters Pp
      i#ef1-transport570.ef1-transport570
    span.step.size-24
      span.letters Pp
      i#ef1-transport570.ef1-transport570
    span.step.size-36
      span.letters Pp
      i#ef1-transport570.ef1-transport570
    span.step.size-48
      span.letters Pp
      i#ef1-transport570.ef1-transport570
    span.step.size-60
      span.letters Pp
      i#ef1-transport570.ef1-transport570
    span.step.size-72
      span.letters Pp
      i#ef1-transport570.ef1-transport570
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport570" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf125;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-transport571.ef1-transport571
    span.step.size-14
      span.letters Pp
      i#ef1-transport571.ef1-transport571
    span.step.size-16
      span.letters Pp
      i#ef1-transport571.ef1-transport571
    span.step.size-18
      span.letters Pp
      i#ef1-transport571.ef1-transport571
    span.step.size-21
      span.letters Pp
      i#ef1-transport571.ef1-transport571
    span.step.size-24
      span.letters Pp
      i#ef1-transport571.ef1-transport571
    span.step.size-36
      span.letters Pp
      i#ef1-transport571.ef1-transport571
    span.step.size-48
      span.letters Pp
      i#ef1-transport571.ef1-transport571
    span.step.size-60
      span.letters Pp
      i#ef1-transport571.ef1-transport571
    span.step.size-72
      span.letters Pp
      i#ef1-transport571.ef1-transport571
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-transport571" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf126;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef1-travelling19.ef1-travelling19
    span.step.size-14
      span.letters Pp
      i#ef1-travelling19.ef1-travelling19
    span.step.size-16
      span.letters Pp
      i#ef1-travelling19.ef1-travelling19
    span.step.size-18
      span.letters Pp
      i#ef1-travelling19.ef1-travelling19
    span.step.size-21
      span.letters Pp
      i#ef1-travelling19.ef1-travelling19
    span.step.size-24
      span.letters Pp
      i#ef1-travelling19.ef1-travelling19
    span.step.size-36
      span.letters Pp
      i#ef1-travelling19.ef1-travelling19
    span.step.size-48
      span.letters Pp
      i#ef1-travelling19.ef1-travelling19
    span.step.size-60
      span.letters Pp
      i#ef1-travelling19.ef1-travelling19
    span.step.size-72
      span.letters Pp
      i#ef1-travelling19.ef1-travelling19
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef1-travelling19" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf127;" /