header
  h1 ei-font-2 contains 40 glyphs:
  a href="#" onclick=("toggleCharacters(); return false;")  Toggle Preview Characters
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-aeroplane27.ef2-aeroplane27
    span.step.size-14
      span.letters Pp
      i#ef2-aeroplane27.ef2-aeroplane27
    span.step.size-16
      span.letters Pp
      i#ef2-aeroplane27.ef2-aeroplane27
    span.step.size-18
      span.letters Pp
      i#ef2-aeroplane27.ef2-aeroplane27
    span.step.size-21
      span.letters Pp
      i#ef2-aeroplane27.ef2-aeroplane27
    span.step.size-24
      span.letters Pp
      i#ef2-aeroplane27.ef2-aeroplane27
    span.step.size-36
      span.letters Pp
      i#ef2-aeroplane27.ef2-aeroplane27
    span.step.size-48
      span.letters Pp
      i#ef2-aeroplane27.ef2-aeroplane27
    span.step.size-60
      span.letters Pp
      i#ef2-aeroplane27.ef2-aeroplane27
    span.step.size-72
      span.letters Pp
      i#ef2-aeroplane27.ef2-aeroplane27
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-aeroplane27" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf100;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-agenda22.ef2-agenda22
    span.step.size-14
      span.letters Pp
      i#ef2-agenda22.ef2-agenda22
    span.step.size-16
      span.letters Pp
      i#ef2-agenda22.ef2-agenda22
    span.step.size-18
      span.letters Pp
      i#ef2-agenda22.ef2-agenda22
    span.step.size-21
      span.letters Pp
      i#ef2-agenda22.ef2-agenda22
    span.step.size-24
      span.letters Pp
      i#ef2-agenda22.ef2-agenda22
    span.step.size-36
      span.letters Pp
      i#ef2-agenda22.ef2-agenda22
    span.step.size-48
      span.letters Pp
      i#ef2-agenda22.ef2-agenda22
    span.step.size-60
      span.letters Pp
      i#ef2-agenda22.ef2-agenda22
    span.step.size-72
      span.letters Pp
      i#ef2-agenda22.ef2-agenda22
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-agenda22" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf101;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-airplane134.ef2-airplane134
    span.step.size-14
      span.letters Pp
      i#ef2-airplane134.ef2-airplane134
    span.step.size-16
      span.letters Pp
      i#ef2-airplane134.ef2-airplane134
    span.step.size-18
      span.letters Pp
      i#ef2-airplane134.ef2-airplane134
    span.step.size-21
      span.letters Pp
      i#ef2-airplane134.ef2-airplane134
    span.step.size-24
      span.letters Pp
      i#ef2-airplane134.ef2-airplane134
    span.step.size-36
      span.letters Pp
      i#ef2-airplane134.ef2-airplane134
    span.step.size-48
      span.letters Pp
      i#ef2-airplane134.ef2-airplane134
    span.step.size-60
      span.letters Pp
      i#ef2-airplane134.ef2-airplane134
    span.step.size-72
      span.letters Pp
      i#ef2-airplane134.ef2-airplane134
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-airplane134" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf102;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-airport17.ef2-airport17
    span.step.size-14
      span.letters Pp
      i#ef2-airport17.ef2-airport17
    span.step.size-16
      span.letters Pp
      i#ef2-airport17.ef2-airport17
    span.step.size-18
      span.letters Pp
      i#ef2-airport17.ef2-airport17
    span.step.size-21
      span.letters Pp
      i#ef2-airport17.ef2-airport17
    span.step.size-24
      span.letters Pp
      i#ef2-airport17.ef2-airport17
    span.step.size-36
      span.letters Pp
      i#ef2-airport17.ef2-airport17
    span.step.size-48
      span.letters Pp
      i#ef2-airport17.ef2-airport17
    span.step.size-60
      span.letters Pp
      i#ef2-airport17.ef2-airport17
    span.step.size-72
      span.letters Pp
      i#ef2-airport17.ef2-airport17
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-airport17" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf103;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-airport18.ef2-airport18
    span.step.size-14
      span.letters Pp
      i#ef2-airport18.ef2-airport18
    span.step.size-16
      span.letters Pp
      i#ef2-airport18.ef2-airport18
    span.step.size-18
      span.letters Pp
      i#ef2-airport18.ef2-airport18
    span.step.size-21
      span.letters Pp
      i#ef2-airport18.ef2-airport18
    span.step.size-24
      span.letters Pp
      i#ef2-airport18.ef2-airport18
    span.step.size-36
      span.letters Pp
      i#ef2-airport18.ef2-airport18
    span.step.size-48
      span.letters Pp
      i#ef2-airport18.ef2-airport18
    span.step.size-60
      span.letters Pp
      i#ef2-airport18.ef2-airport18
    span.step.size-72
      span.letters Pp
      i#ef2-airport18.ef2-airport18
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-airport18" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf104;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-airport19.ef2-airport19
    span.step.size-14
      span.letters Pp
      i#ef2-airport19.ef2-airport19
    span.step.size-16
      span.letters Pp
      i#ef2-airport19.ef2-airport19
    span.step.size-18
      span.letters Pp
      i#ef2-airport19.ef2-airport19
    span.step.size-21
      span.letters Pp
      i#ef2-airport19.ef2-airport19
    span.step.size-24
      span.letters Pp
      i#ef2-airport19.ef2-airport19
    span.step.size-36
      span.letters Pp
      i#ef2-airport19.ef2-airport19
    span.step.size-48
      span.letters Pp
      i#ef2-airport19.ef2-airport19
    span.step.size-60
      span.letters Pp
      i#ef2-airport19.ef2-airport19
    span.step.size-72
      span.letters Pp
      i#ef2-airport19.ef2-airport19
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-airport19" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf105;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-airport20.ef2-airport20
    span.step.size-14
      span.letters Pp
      i#ef2-airport20.ef2-airport20
    span.step.size-16
      span.letters Pp
      i#ef2-airport20.ef2-airport20
    span.step.size-18
      span.letters Pp
      i#ef2-airport20.ef2-airport20
    span.step.size-21
      span.letters Pp
      i#ef2-airport20.ef2-airport20
    span.step.size-24
      span.letters Pp
      i#ef2-airport20.ef2-airport20
    span.step.size-36
      span.letters Pp
      i#ef2-airport20.ef2-airport20
    span.step.size-48
      span.letters Pp
      i#ef2-airport20.ef2-airport20
    span.step.size-60
      span.letters Pp
      i#ef2-airport20.ef2-airport20
    span.step.size-72
      span.letters Pp
      i#ef2-airport20.ef2-airport20
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-airport20" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf106;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-alcohol57.ef2-alcohol57
    span.step.size-14
      span.letters Pp
      i#ef2-alcohol57.ef2-alcohol57
    span.step.size-16
      span.letters Pp
      i#ef2-alcohol57.ef2-alcohol57
    span.step.size-18
      span.letters Pp
      i#ef2-alcohol57.ef2-alcohol57
    span.step.size-21
      span.letters Pp
      i#ef2-alcohol57.ef2-alcohol57
    span.step.size-24
      span.letters Pp
      i#ef2-alcohol57.ef2-alcohol57
    span.step.size-36
      span.letters Pp
      i#ef2-alcohol57.ef2-alcohol57
    span.step.size-48
      span.letters Pp
      i#ef2-alcohol57.ef2-alcohol57
    span.step.size-60
      span.letters Pp
      i#ef2-alcohol57.ef2-alcohol57
    span.step.size-72
      span.letters Pp
      i#ef2-alcohol57.ef2-alcohol57
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-alcohol57" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf107;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-baggage31.ef2-baggage31
    span.step.size-14
      span.letters Pp
      i#ef2-baggage31.ef2-baggage31
    span.step.size-16
      span.letters Pp
      i#ef2-baggage31.ef2-baggage31
    span.step.size-18
      span.letters Pp
      i#ef2-baggage31.ef2-baggage31
    span.step.size-21
      span.letters Pp
      i#ef2-baggage31.ef2-baggage31
    span.step.size-24
      span.letters Pp
      i#ef2-baggage31.ef2-baggage31
    span.step.size-36
      span.letters Pp
      i#ef2-baggage31.ef2-baggage31
    span.step.size-48
      span.letters Pp
      i#ef2-baggage31.ef2-baggage31
    span.step.size-60
      span.letters Pp
      i#ef2-baggage31.ef2-baggage31
    span.step.size-72
      span.letters Pp
      i#ef2-baggage31.ef2-baggage31
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-baggage31" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf108;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-book-bag3.ef2-book-bag3
    span.step.size-14
      span.letters Pp
      i#ef2-book-bag3.ef2-book-bag3
    span.step.size-16
      span.letters Pp
      i#ef2-book-bag3.ef2-book-bag3
    span.step.size-18
      span.letters Pp
      i#ef2-book-bag3.ef2-book-bag3
    span.step.size-21
      span.letters Pp
      i#ef2-book-bag3.ef2-book-bag3
    span.step.size-24
      span.letters Pp
      i#ef2-book-bag3.ef2-book-bag3
    span.step.size-36
      span.letters Pp
      i#ef2-book-bag3.ef2-book-bag3
    span.step.size-48
      span.letters Pp
      i#ef2-book-bag3.ef2-book-bag3
    span.step.size-60
      span.letters Pp
      i#ef2-book-bag3.ef2-book-bag3
    span.step.size-72
      span.letters Pp
      i#ef2-book-bag3.ef2-book-bag3
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-book-bag3" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf109;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-captain1.ef2-captain1
    span.step.size-14
      span.letters Pp
      i#ef2-captain1.ef2-captain1
    span.step.size-16
      span.letters Pp
      i#ef2-captain1.ef2-captain1
    span.step.size-18
      span.letters Pp
      i#ef2-captain1.ef2-captain1
    span.step.size-21
      span.letters Pp
      i#ef2-captain1.ef2-captain1
    span.step.size-24
      span.letters Pp
      i#ef2-captain1.ef2-captain1
    span.step.size-36
      span.letters Pp
      i#ef2-captain1.ef2-captain1
    span.step.size-48
      span.letters Pp
      i#ef2-captain1.ef2-captain1
    span.step.size-60
      span.letters Pp
      i#ef2-captain1.ef2-captain1
    span.step.size-72
      span.letters Pp
      i#ef2-captain1.ef2-captain1
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-captain1" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-chairs14.ef2-chairs14
    span.step.size-14
      span.letters Pp
      i#ef2-chairs14.ef2-chairs14
    span.step.size-16
      span.letters Pp
      i#ef2-chairs14.ef2-chairs14
    span.step.size-18
      span.letters Pp
      i#ef2-chairs14.ef2-chairs14
    span.step.size-21
      span.letters Pp
      i#ef2-chairs14.ef2-chairs14
    span.step.size-24
      span.letters Pp
      i#ef2-chairs14.ef2-chairs14
    span.step.size-36
      span.letters Pp
      i#ef2-chairs14.ef2-chairs14
    span.step.size-48
      span.letters Pp
      i#ef2-chairs14.ef2-chairs14
    span.step.size-60
      span.letters Pp
      i#ef2-chairs14.ef2-chairs14
    span.step.size-72
      span.letters Pp
      i#ef2-chairs14.ef2-chairs14
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-chairs14" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-cloudy68.ef2-cloudy68
    span.step.size-14
      span.letters Pp
      i#ef2-cloudy68.ef2-cloudy68
    span.step.size-16
      span.letters Pp
      i#ef2-cloudy68.ef2-cloudy68
    span.step.size-18
      span.letters Pp
      i#ef2-cloudy68.ef2-cloudy68
    span.step.size-21
      span.letters Pp
      i#ef2-cloudy68.ef2-cloudy68
    span.step.size-24
      span.letters Pp
      i#ef2-cloudy68.ef2-cloudy68
    span.step.size-36
      span.letters Pp
      i#ef2-cloudy68.ef2-cloudy68
    span.step.size-48
      span.letters Pp
      i#ef2-cloudy68.ef2-cloudy68
    span.step.size-60
      span.letters Pp
      i#ef2-cloudy68.ef2-cloudy68
    span.step.size-72
      span.letters Pp
      i#ef2-cloudy68.ef2-cloudy68
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-cloudy68" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-coffee-cup8.ef2-coffee-cup8
    span.step.size-14
      span.letters Pp
      i#ef2-coffee-cup8.ef2-coffee-cup8
    span.step.size-16
      span.letters Pp
      i#ef2-coffee-cup8.ef2-coffee-cup8
    span.step.size-18
      span.letters Pp
      i#ef2-coffee-cup8.ef2-coffee-cup8
    span.step.size-21
      span.letters Pp
      i#ef2-coffee-cup8.ef2-coffee-cup8
    span.step.size-24
      span.letters Pp
      i#ef2-coffee-cup8.ef2-coffee-cup8
    span.step.size-36
      span.letters Pp
      i#ef2-coffee-cup8.ef2-coffee-cup8
    span.step.size-48
      span.letters Pp
      i#ef2-coffee-cup8.ef2-coffee-cup8
    span.step.size-60
      span.letters Pp
      i#ef2-coffee-cup8.ef2-coffee-cup8
    span.step.size-72
      span.letters Pp
      i#ef2-coffee-cup8.ef2-coffee-cup8
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-coffee-cup8" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10d;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-identification58.ef2-identification58
    span.step.size-14
      span.letters Pp
      i#ef2-identification58.ef2-identification58
    span.step.size-16
      span.letters Pp
      i#ef2-identification58.ef2-identification58
    span.step.size-18
      span.letters Pp
      i#ef2-identification58.ef2-identification58
    span.step.size-21
      span.letters Pp
      i#ef2-identification58.ef2-identification58
    span.step.size-24
      span.letters Pp
      i#ef2-identification58.ef2-identification58
    span.step.size-36
      span.letters Pp
      i#ef2-identification58.ef2-identification58
    span.step.size-48
      span.letters Pp
      i#ef2-identification58.ef2-identification58
    span.step.size-60
      span.letters Pp
      i#ef2-identification58.ef2-identification58
    span.step.size-72
      span.letters Pp
      i#ef2-identification58.ef2-identification58
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-identification58" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10e;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-lift5.ef2-lift5
    span.step.size-14
      span.letters Pp
      i#ef2-lift5.ef2-lift5
    span.step.size-16
      span.letters Pp
      i#ef2-lift5.ef2-lift5
    span.step.size-18
      span.letters Pp
      i#ef2-lift5.ef2-lift5
    span.step.size-21
      span.letters Pp
      i#ef2-lift5.ef2-lift5
    span.step.size-24
      span.letters Pp
      i#ef2-lift5.ef2-lift5
    span.step.size-36
      span.letters Pp
      i#ef2-lift5.ef2-lift5
    span.step.size-48
      span.letters Pp
      i#ef2-lift5.ef2-lift5
    span.step.size-60
      span.letters Pp
      i#ef2-lift5.ef2-lift5
    span.step.size-72
      span.letters Pp
      i#ef2-lift5.ef2-lift5
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-lift5" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10f;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-luggage43.ef2-luggage43
    span.step.size-14
      span.letters Pp
      i#ef2-luggage43.ef2-luggage43
    span.step.size-16
      span.letters Pp
      i#ef2-luggage43.ef2-luggage43
    span.step.size-18
      span.letters Pp
      i#ef2-luggage43.ef2-luggage43
    span.step.size-21
      span.letters Pp
      i#ef2-luggage43.ef2-luggage43
    span.step.size-24
      span.letters Pp
      i#ef2-luggage43.ef2-luggage43
    span.step.size-36
      span.letters Pp
      i#ef2-luggage43.ef2-luggage43
    span.step.size-48
      span.letters Pp
      i#ef2-luggage43.ef2-luggage43
    span.step.size-60
      span.letters Pp
      i#ef2-luggage43.ef2-luggage43
    span.step.size-72
      span.letters Pp
      i#ef2-luggage43.ef2-luggage43
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-luggage43" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf110;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-luggage44.ef2-luggage44
    span.step.size-14
      span.letters Pp
      i#ef2-luggage44.ef2-luggage44
    span.step.size-16
      span.letters Pp
      i#ef2-luggage44.ef2-luggage44
    span.step.size-18
      span.letters Pp
      i#ef2-luggage44.ef2-luggage44
    span.step.size-21
      span.letters Pp
      i#ef2-luggage44.ef2-luggage44
    span.step.size-24
      span.letters Pp
      i#ef2-luggage44.ef2-luggage44
    span.step.size-36
      span.letters Pp
      i#ef2-luggage44.ef2-luggage44
    span.step.size-48
      span.letters Pp
      i#ef2-luggage44.ef2-luggage44
    span.step.size-60
      span.letters Pp
      i#ef2-luggage44.ef2-luggage44
    span.step.size-72
      span.letters Pp
      i#ef2-luggage44.ef2-luggage44
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-luggage44" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf111;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-men62.ef2-men62
    span.step.size-14
      span.letters Pp
      i#ef2-men62.ef2-men62
    span.step.size-16
      span.letters Pp
      i#ef2-men62.ef2-men62
    span.step.size-18
      span.letters Pp
      i#ef2-men62.ef2-men62
    span.step.size-21
      span.letters Pp
      i#ef2-men62.ef2-men62
    span.step.size-24
      span.letters Pp
      i#ef2-men62.ef2-men62
    span.step.size-36
      span.letters Pp
      i#ef2-men62.ef2-men62
    span.step.size-48
      span.letters Pp
      i#ef2-men62.ef2-men62
    span.step.size-60
      span.letters Pp
      i#ef2-men62.ef2-men62
    span.step.size-72
      span.letters Pp
      i#ef2-men62.ef2-men62
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-men62" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf112;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-metallic2.ef2-metallic2
    span.step.size-14
      span.letters Pp
      i#ef2-metallic2.ef2-metallic2
    span.step.size-16
      span.letters Pp
      i#ef2-metallic2.ef2-metallic2
    span.step.size-18
      span.letters Pp
      i#ef2-metallic2.ef2-metallic2
    span.step.size-21
      span.letters Pp
      i#ef2-metallic2.ef2-metallic2
    span.step.size-24
      span.letters Pp
      i#ef2-metallic2.ef2-metallic2
    span.step.size-36
      span.letters Pp
      i#ef2-metallic2.ef2-metallic2
    span.step.size-48
      span.letters Pp
      i#ef2-metallic2.ef2-metallic2
    span.step.size-60
      span.letters Pp
      i#ef2-metallic2.ef2-metallic2
    span.step.size-72
      span.letters Pp
      i#ef2-metallic2.ef2-metallic2
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-metallic2" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf113;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-pilot4.ef2-pilot4
    span.step.size-14
      span.letters Pp
      i#ef2-pilot4.ef2-pilot4
    span.step.size-16
      span.letters Pp
      i#ef2-pilot4.ef2-pilot4
    span.step.size-18
      span.letters Pp
      i#ef2-pilot4.ef2-pilot4
    span.step.size-21
      span.letters Pp
      i#ef2-pilot4.ef2-pilot4
    span.step.size-24
      span.letters Pp
      i#ef2-pilot4.ef2-pilot4
    span.step.size-36
      span.letters Pp
      i#ef2-pilot4.ef2-pilot4
    span.step.size-48
      span.letters Pp
      i#ef2-pilot4.ef2-pilot4
    span.step.size-60
      span.letters Pp
      i#ef2-pilot4.ef2-pilot4
    span.step.size-72
      span.letters Pp
      i#ef2-pilot4.ef2-pilot4
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-pilot4" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf114;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-reading36.ef2-reading36
    span.step.size-14
      span.letters Pp
      i#ef2-reading36.ef2-reading36
    span.step.size-16
      span.letters Pp
      i#ef2-reading36.ef2-reading36
    span.step.size-18
      span.letters Pp
      i#ef2-reading36.ef2-reading36
    span.step.size-21
      span.letters Pp
      i#ef2-reading36.ef2-reading36
    span.step.size-24
      span.letters Pp
      i#ef2-reading36.ef2-reading36
    span.step.size-36
      span.letters Pp
      i#ef2-reading36.ef2-reading36
    span.step.size-48
      span.letters Pp
      i#ef2-reading36.ef2-reading36
    span.step.size-60
      span.letters Pp
      i#ef2-reading36.ef2-reading36
    span.step.size-72
      span.letters Pp
      i#ef2-reading36.ef2-reading36
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-reading36" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf115;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-restaurant64.ef2-restaurant64
    span.step.size-14
      span.letters Pp
      i#ef2-restaurant64.ef2-restaurant64
    span.step.size-16
      span.letters Pp
      i#ef2-restaurant64.ef2-restaurant64
    span.step.size-18
      span.letters Pp
      i#ef2-restaurant64.ef2-restaurant64
    span.step.size-21
      span.letters Pp
      i#ef2-restaurant64.ef2-restaurant64
    span.step.size-24
      span.letters Pp
      i#ef2-restaurant64.ef2-restaurant64
    span.step.size-36
      span.letters Pp
      i#ef2-restaurant64.ef2-restaurant64
    span.step.size-48
      span.letters Pp
      i#ef2-restaurant64.ef2-restaurant64
    span.step.size-60
      span.letters Pp
      i#ef2-restaurant64.ef2-restaurant64
    span.step.size-72
      span.letters Pp
      i#ef2-restaurant64.ef2-restaurant64
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-restaurant64" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf116;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-secure8.ef2-secure8
    span.step.size-14
      span.letters Pp
      i#ef2-secure8.ef2-secure8
    span.step.size-16
      span.letters Pp
      i#ef2-secure8.ef2-secure8
    span.step.size-18
      span.letters Pp
      i#ef2-secure8.ef2-secure8
    span.step.size-21
      span.letters Pp
      i#ef2-secure8.ef2-secure8
    span.step.size-24
      span.letters Pp
      i#ef2-secure8.ef2-secure8
    span.step.size-36
      span.letters Pp
      i#ef2-secure8.ef2-secure8
    span.step.size-48
      span.letters Pp
      i#ef2-secure8.ef2-secure8
    span.step.size-60
      span.letters Pp
      i#ef2-secure8.ef2-secure8
    span.step.size-72
      span.letters Pp
      i#ef2-secure8.ef2-secure8
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-secure8" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf117;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-shopper15.ef2-shopper15
    span.step.size-14
      span.letters Pp
      i#ef2-shopper15.ef2-shopper15
    span.step.size-16
      span.letters Pp
      i#ef2-shopper15.ef2-shopper15
    span.step.size-18
      span.letters Pp
      i#ef2-shopper15.ef2-shopper15
    span.step.size-21
      span.letters Pp
      i#ef2-shopper15.ef2-shopper15
    span.step.size-24
      span.letters Pp
      i#ef2-shopper15.ef2-shopper15
    span.step.size-36
      span.letters Pp
      i#ef2-shopper15.ef2-shopper15
    span.step.size-48
      span.letters Pp
      i#ef2-shopper15.ef2-shopper15
    span.step.size-60
      span.letters Pp
      i#ef2-shopper15.ef2-shopper15
    span.step.size-72
      span.letters Pp
      i#ef2-shopper15.ef2-shopper15
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-shopper15" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf118;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-smoke11.ef2-smoke11
    span.step.size-14
      span.letters Pp
      i#ef2-smoke11.ef2-smoke11
    span.step.size-16
      span.letters Pp
      i#ef2-smoke11.ef2-smoke11
    span.step.size-18
      span.letters Pp
      i#ef2-smoke11.ef2-smoke11
    span.step.size-21
      span.letters Pp
      i#ef2-smoke11.ef2-smoke11
    span.step.size-24
      span.letters Pp
      i#ef2-smoke11.ef2-smoke11
    span.step.size-36
      span.letters Pp
      i#ef2-smoke11.ef2-smoke11
    span.step.size-48
      span.letters Pp
      i#ef2-smoke11.ef2-smoke11
    span.step.size-60
      span.letters Pp
      i#ef2-smoke11.ef2-smoke11
    span.step.size-72
      span.letters Pp
      i#ef2-smoke11.ef2-smoke11
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-smoke11" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf119;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-stairs24.ef2-stairs24
    span.step.size-14
      span.letters Pp
      i#ef2-stairs24.ef2-stairs24
    span.step.size-16
      span.letters Pp
      i#ef2-stairs24.ef2-stairs24
    span.step.size-18
      span.letters Pp
      i#ef2-stairs24.ef2-stairs24
    span.step.size-21
      span.letters Pp
      i#ef2-stairs24.ef2-stairs24
    span.step.size-24
      span.letters Pp
      i#ef2-stairs24.ef2-stairs24
    span.step.size-36
      span.letters Pp
      i#ef2-stairs24.ef2-stairs24
    span.step.size-48
      span.letters Pp
      i#ef2-stairs24.ef2-stairs24
    span.step.size-60
      span.letters Pp
      i#ef2-stairs24.ef2-stairs24
    span.step.size-72
      span.letters Pp
      i#ef2-stairs24.ef2-stairs24
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-stairs24" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-stamper2.ef2-stamper2
    span.step.size-14
      span.letters Pp
      i#ef2-stamper2.ef2-stamper2
    span.step.size-16
      span.letters Pp
      i#ef2-stamper2.ef2-stamper2
    span.step.size-18
      span.letters Pp
      i#ef2-stamper2.ef2-stamper2
    span.step.size-21
      span.letters Pp
      i#ef2-stamper2.ef2-stamper2
    span.step.size-24
      span.letters Pp
      i#ef2-stamper2.ef2-stamper2
    span.step.size-36
      span.letters Pp
      i#ef2-stamper2.ef2-stamper2
    span.step.size-48
      span.letters Pp
      i#ef2-stamper2.ef2-stamper2
    span.step.size-60
      span.letters Pp
      i#ef2-stamper2.ef2-stamper2
    span.step.size-72
      span.letters Pp
      i#ef2-stamper2.ef2-stamper2
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-stamper2" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-suitcase82.ef2-suitcase82
    span.step.size-14
      span.letters Pp
      i#ef2-suitcase82.ef2-suitcase82
    span.step.size-16
      span.letters Pp
      i#ef2-suitcase82.ef2-suitcase82
    span.step.size-18
      span.letters Pp
      i#ef2-suitcase82.ef2-suitcase82
    span.step.size-21
      span.letters Pp
      i#ef2-suitcase82.ef2-suitcase82
    span.step.size-24
      span.letters Pp
      i#ef2-suitcase82.ef2-suitcase82
    span.step.size-36
      span.letters Pp
      i#ef2-suitcase82.ef2-suitcase82
    span.step.size-48
      span.letters Pp
      i#ef2-suitcase82.ef2-suitcase82
    span.step.size-60
      span.letters Pp
      i#ef2-suitcase82.ef2-suitcase82
    span.step.size-72
      span.letters Pp
      i#ef2-suitcase82.ef2-suitcase82
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-suitcase82" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-transport537.ef2-transport537
    span.step.size-14
      span.letters Pp
      i#ef2-transport537.ef2-transport537
    span.step.size-16
      span.letters Pp
      i#ef2-transport537.ef2-transport537
    span.step.size-18
      span.letters Pp
      i#ef2-transport537.ef2-transport537
    span.step.size-21
      span.letters Pp
      i#ef2-transport537.ef2-transport537
    span.step.size-24
      span.letters Pp
      i#ef2-transport537.ef2-transport537
    span.step.size-36
      span.letters Pp
      i#ef2-transport537.ef2-transport537
    span.step.size-48
      span.letters Pp
      i#ef2-transport537.ef2-transport537
    span.step.size-60
      span.letters Pp
      i#ef2-transport537.ef2-transport537
    span.step.size-72
      span.letters Pp
      i#ef2-transport537.ef2-transport537
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-transport537" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11d;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-transport538.ef2-transport538
    span.step.size-14
      span.letters Pp
      i#ef2-transport538.ef2-transport538
    span.step.size-16
      span.letters Pp
      i#ef2-transport538.ef2-transport538
    span.step.size-18
      span.letters Pp
      i#ef2-transport538.ef2-transport538
    span.step.size-21
      span.letters Pp
      i#ef2-transport538.ef2-transport538
    span.step.size-24
      span.letters Pp
      i#ef2-transport538.ef2-transport538
    span.step.size-36
      span.letters Pp
      i#ef2-transport538.ef2-transport538
    span.step.size-48
      span.letters Pp
      i#ef2-transport538.ef2-transport538
    span.step.size-60
      span.letters Pp
      i#ef2-transport538.ef2-transport538
    span.step.size-72
      span.letters Pp
      i#ef2-transport538.ef2-transport538
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-transport538" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11e;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-transport539.ef2-transport539
    span.step.size-14
      span.letters Pp
      i#ef2-transport539.ef2-transport539
    span.step.size-16
      span.letters Pp
      i#ef2-transport539.ef2-transport539
    span.step.size-18
      span.letters Pp
      i#ef2-transport539.ef2-transport539
    span.step.size-21
      span.letters Pp
      i#ef2-transport539.ef2-transport539
    span.step.size-24
      span.letters Pp
      i#ef2-transport539.ef2-transport539
    span.step.size-36
      span.letters Pp
      i#ef2-transport539.ef2-transport539
    span.step.size-48
      span.letters Pp
      i#ef2-transport539.ef2-transport539
    span.step.size-60
      span.letters Pp
      i#ef2-transport539.ef2-transport539
    span.step.size-72
      span.letters Pp
      i#ef2-transport539.ef2-transport539
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-transport539" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11f;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-transport540.ef2-transport540
    span.step.size-14
      span.letters Pp
      i#ef2-transport540.ef2-transport540
    span.step.size-16
      span.letters Pp
      i#ef2-transport540.ef2-transport540
    span.step.size-18
      span.letters Pp
      i#ef2-transport540.ef2-transport540
    span.step.size-21
      span.letters Pp
      i#ef2-transport540.ef2-transport540
    span.step.size-24
      span.letters Pp
      i#ef2-transport540.ef2-transport540
    span.step.size-36
      span.letters Pp
      i#ef2-transport540.ef2-transport540
    span.step.size-48
      span.letters Pp
      i#ef2-transport540.ef2-transport540
    span.step.size-60
      span.letters Pp
      i#ef2-transport540.ef2-transport540
    span.step.size-72
      span.letters Pp
      i#ef2-transport540.ef2-transport540
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-transport540" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf120;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-transport541.ef2-transport541
    span.step.size-14
      span.letters Pp
      i#ef2-transport541.ef2-transport541
    span.step.size-16
      span.letters Pp
      i#ef2-transport541.ef2-transport541
    span.step.size-18
      span.letters Pp
      i#ef2-transport541.ef2-transport541
    span.step.size-21
      span.letters Pp
      i#ef2-transport541.ef2-transport541
    span.step.size-24
      span.letters Pp
      i#ef2-transport541.ef2-transport541
    span.step.size-36
      span.letters Pp
      i#ef2-transport541.ef2-transport541
    span.step.size-48
      span.letters Pp
      i#ef2-transport541.ef2-transport541
    span.step.size-60
      span.letters Pp
      i#ef2-transport541.ef2-transport541
    span.step.size-72
      span.letters Pp
      i#ef2-transport541.ef2-transport541
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-transport541" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf121;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-transport542.ef2-transport542
    span.step.size-14
      span.letters Pp
      i#ef2-transport542.ef2-transport542
    span.step.size-16
      span.letters Pp
      i#ef2-transport542.ef2-transport542
    span.step.size-18
      span.letters Pp
      i#ef2-transport542.ef2-transport542
    span.step.size-21
      span.letters Pp
      i#ef2-transport542.ef2-transport542
    span.step.size-24
      span.letters Pp
      i#ef2-transport542.ef2-transport542
    span.step.size-36
      span.letters Pp
      i#ef2-transport542.ef2-transport542
    span.step.size-48
      span.letters Pp
      i#ef2-transport542.ef2-transport542
    span.step.size-60
      span.letters Pp
      i#ef2-transport542.ef2-transport542
    span.step.size-72
      span.letters Pp
      i#ef2-transport542.ef2-transport542
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-transport542" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf122;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-travelling16.ef2-travelling16
    span.step.size-14
      span.letters Pp
      i#ef2-travelling16.ef2-travelling16
    span.step.size-16
      span.letters Pp
      i#ef2-travelling16.ef2-travelling16
    span.step.size-18
      span.letters Pp
      i#ef2-travelling16.ef2-travelling16
    span.step.size-21
      span.letters Pp
      i#ef2-travelling16.ef2-travelling16
    span.step.size-24
      span.letters Pp
      i#ef2-travelling16.ef2-travelling16
    span.step.size-36
      span.letters Pp
      i#ef2-travelling16.ef2-travelling16
    span.step.size-48
      span.letters Pp
      i#ef2-travelling16.ef2-travelling16
    span.step.size-60
      span.letters Pp
      i#ef2-travelling16.ef2-travelling16
    span.step.size-72
      span.letters Pp
      i#ef2-travelling16.ef2-travelling16
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-travelling16" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf123;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-travelling17.ef2-travelling17
    span.step.size-14
      span.letters Pp
      i#ef2-travelling17.ef2-travelling17
    span.step.size-16
      span.letters Pp
      i#ef2-travelling17.ef2-travelling17
    span.step.size-18
      span.letters Pp
      i#ef2-travelling17.ef2-travelling17
    span.step.size-21
      span.letters Pp
      i#ef2-travelling17.ef2-travelling17
    span.step.size-24
      span.letters Pp
      i#ef2-travelling17.ef2-travelling17
    span.step.size-36
      span.letters Pp
      i#ef2-travelling17.ef2-travelling17
    span.step.size-48
      span.letters Pp
      i#ef2-travelling17.ef2-travelling17
    span.step.size-60
      span.letters Pp
      i#ef2-travelling17.ef2-travelling17
    span.step.size-72
      span.letters Pp
      i#ef2-travelling17.ef2-travelling17
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-travelling17" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf124;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-video-camera34.ef2-video-camera34
    span.step.size-14
      span.letters Pp
      i#ef2-video-camera34.ef2-video-camera34
    span.step.size-16
      span.letters Pp
      i#ef2-video-camera34.ef2-video-camera34
    span.step.size-18
      span.letters Pp
      i#ef2-video-camera34.ef2-video-camera34
    span.step.size-21
      span.letters Pp
      i#ef2-video-camera34.ef2-video-camera34
    span.step.size-24
      span.letters Pp
      i#ef2-video-camera34.ef2-video-camera34
    span.step.size-36
      span.letters Pp
      i#ef2-video-camera34.ef2-video-camera34
    span.step.size-48
      span.letters Pp
      i#ef2-video-camera34.ef2-video-camera34
    span.step.size-60
      span.letters Pp
      i#ef2-video-camera34.ef2-video-camera34
    span.step.size-72
      span.letters Pp
      i#ef2-video-camera34.ef2-video-camera34
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-video-camera34" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf125;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-walker3.ef2-walker3
    span.step.size-14
      span.letters Pp
      i#ef2-walker3.ef2-walker3
    span.step.size-16
      span.letters Pp
      i#ef2-walker3.ef2-walker3
    span.step.size-18
      span.letters Pp
      i#ef2-walker3.ef2-walker3
    span.step.size-21
      span.letters Pp
      i#ef2-walker3.ef2-walker3
    span.step.size-24
      span.letters Pp
      i#ef2-walker3.ef2-walker3
    span.step.size-36
      span.letters Pp
      i#ef2-walker3.ef2-walker3
    span.step.size-48
      span.letters Pp
      i#ef2-walker3.ef2-walker3
    span.step.size-60
      span.letters Pp
      i#ef2-walker3.ef2-walker3
    span.step.size-72
      span.letters Pp
      i#ef2-walker3.ef2-walker3
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-walker3" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf126;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef2-worldwide2.ef2-worldwide2
    span.step.size-14
      span.letters Pp
      i#ef2-worldwide2.ef2-worldwide2
    span.step.size-16
      span.letters Pp
      i#ef2-worldwide2.ef2-worldwide2
    span.step.size-18
      span.letters Pp
      i#ef2-worldwide2.ef2-worldwide2
    span.step.size-21
      span.letters Pp
      i#ef2-worldwide2.ef2-worldwide2
    span.step.size-24
      span.letters Pp
      i#ef2-worldwide2.ef2-worldwide2
    span.step.size-36
      span.letters Pp
      i#ef2-worldwide2.ef2-worldwide2
    span.step.size-48
      span.letters Pp
      i#ef2-worldwide2.ef2-worldwide2
    span.step.size-60
      span.letters Pp
      i#ef2-worldwide2.ef2-worldwide2
    span.step.size-72
      span.letters Pp
      i#ef2-worldwide2.ef2-worldwide2
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef2-worldwide2" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf127;" /