header
  h1 ei-font-4 contains 36 glyphs:
  a href="#" onclick=("toggleCharacters(); return false;")  Toggle Preview Characters
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-airplane-origami2.ef4-airplane-origami2
    span.step.size-14
      span.letters Pp
      i#ef4-airplane-origami2.ef4-airplane-origami2
    span.step.size-16
      span.letters Pp
      i#ef4-airplane-origami2.ef4-airplane-origami2
    span.step.size-18
      span.letters Pp
      i#ef4-airplane-origami2.ef4-airplane-origami2
    span.step.size-21
      span.letters Pp
      i#ef4-airplane-origami2.ef4-airplane-origami2
    span.step.size-24
      span.letters Pp
      i#ef4-airplane-origami2.ef4-airplane-origami2
    span.step.size-36
      span.letters Pp
      i#ef4-airplane-origami2.ef4-airplane-origami2
    span.step.size-48
      span.letters Pp
      i#ef4-airplane-origami2.ef4-airplane-origami2
    span.step.size-60
      span.letters Pp
      i#ef4-airplane-origami2.ef4-airplane-origami2
    span.step.size-72
      span.letters Pp
      i#ef4-airplane-origami2.ef4-airplane-origami2
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-airplane-origami2" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf100;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-animal304.ef4-animal304
    span.step.size-14
      span.letters Pp
      i#ef4-animal304.ef4-animal304
    span.step.size-16
      span.letters Pp
      i#ef4-animal304.ef4-animal304
    span.step.size-18
      span.letters Pp
      i#ef4-animal304.ef4-animal304
    span.step.size-21
      span.letters Pp
      i#ef4-animal304.ef4-animal304
    span.step.size-24
      span.letters Pp
      i#ef4-animal304.ef4-animal304
    span.step.size-36
      span.letters Pp
      i#ef4-animal304.ef4-animal304
    span.step.size-48
      span.letters Pp
      i#ef4-animal304.ef4-animal304
    span.step.size-60
      span.letters Pp
      i#ef4-animal304.ef4-animal304
    span.step.size-72
      span.letters Pp
      i#ef4-animal304.ef4-animal304
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-animal304" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf101;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-apple9.ef4-apple9
    span.step.size-14
      span.letters Pp
      i#ef4-apple9.ef4-apple9
    span.step.size-16
      span.letters Pp
      i#ef4-apple9.ef4-apple9
    span.step.size-18
      span.letters Pp
      i#ef4-apple9.ef4-apple9
    span.step.size-21
      span.letters Pp
      i#ef4-apple9.ef4-apple9
    span.step.size-24
      span.letters Pp
      i#ef4-apple9.ef4-apple9
    span.step.size-36
      span.letters Pp
      i#ef4-apple9.ef4-apple9
    span.step.size-48
      span.letters Pp
      i#ef4-apple9.ef4-apple9
    span.step.size-60
      span.letters Pp
      i#ef4-apple9.ef4-apple9
    span.step.size-72
      span.letters Pp
      i#ef4-apple9.ef4-apple9
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-apple9" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf102;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-attachment5.ef4-attachment5
    span.step.size-14
      span.letters Pp
      i#ef4-attachment5.ef4-attachment5
    span.step.size-16
      span.letters Pp
      i#ef4-attachment5.ef4-attachment5
    span.step.size-18
      span.letters Pp
      i#ef4-attachment5.ef4-attachment5
    span.step.size-21
      span.letters Pp
      i#ef4-attachment5.ef4-attachment5
    span.step.size-24
      span.letters Pp
      i#ef4-attachment5.ef4-attachment5
    span.step.size-36
      span.letters Pp
      i#ef4-attachment5.ef4-attachment5
    span.step.size-48
      span.letters Pp
      i#ef4-attachment5.ef4-attachment5
    span.step.size-60
      span.letters Pp
      i#ef4-attachment5.ef4-attachment5
    span.step.size-72
      span.letters Pp
      i#ef4-attachment5.ef4-attachment5
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-attachment5" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf103;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-books104.ef4-books104
    span.step.size-14
      span.letters Pp
      i#ef4-books104.ef4-books104
    span.step.size-16
      span.letters Pp
      i#ef4-books104.ef4-books104
    span.step.size-18
      span.letters Pp
      i#ef4-books104.ef4-books104
    span.step.size-21
      span.letters Pp
      i#ef4-books104.ef4-books104
    span.step.size-24
      span.letters Pp
      i#ef4-books104.ef4-books104
    span.step.size-36
      span.letters Pp
      i#ef4-books104.ef4-books104
    span.step.size-48
      span.letters Pp
      i#ef4-books104.ef4-books104
    span.step.size-60
      span.letters Pp
      i#ef4-books104.ef4-books104
    span.step.size-72
      span.letters Pp
      i#ef4-books104.ef4-books104
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-books104" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf104;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-chat136.ef4-chat136
    span.step.size-14
      span.letters Pp
      i#ef4-chat136.ef4-chat136
    span.step.size-16
      span.letters Pp
      i#ef4-chat136.ef4-chat136
    span.step.size-18
      span.letters Pp
      i#ef4-chat136.ef4-chat136
    span.step.size-21
      span.letters Pp
      i#ef4-chat136.ef4-chat136
    span.step.size-24
      span.letters Pp
      i#ef4-chat136.ef4-chat136
    span.step.size-36
      span.letters Pp
      i#ef4-chat136.ef4-chat136
    span.step.size-48
      span.letters Pp
      i#ef4-chat136.ef4-chat136
    span.step.size-60
      span.letters Pp
      i#ef4-chat136.ef4-chat136
    span.step.size-72
      span.letters Pp
      i#ef4-chat136.ef4-chat136
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-chat136" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf105;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-chemist.ef4-chemist
    span.step.size-14
      span.letters Pp
      i#ef4-chemist.ef4-chemist
    span.step.size-16
      span.letters Pp
      i#ef4-chemist.ef4-chemist
    span.step.size-18
      span.letters Pp
      i#ef4-chemist.ef4-chemist
    span.step.size-21
      span.letters Pp
      i#ef4-chemist.ef4-chemist
    span.step.size-24
      span.letters Pp
      i#ef4-chemist.ef4-chemist
    span.step.size-36
      span.letters Pp
      i#ef4-chemist.ef4-chemist
    span.step.size-48
      span.letters Pp
      i#ef4-chemist.ef4-chemist
    span.step.size-60
      span.letters Pp
      i#ef4-chemist.ef4-chemist
    span.step.size-72
      span.letters Pp
      i#ef4-chemist.ef4-chemist
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-chemist" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf106;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-chemistry40.ef4-chemistry40
    span.step.size-14
      span.letters Pp
      i#ef4-chemistry40.ef4-chemistry40
    span.step.size-16
      span.letters Pp
      i#ef4-chemistry40.ef4-chemistry40
    span.step.size-18
      span.letters Pp
      i#ef4-chemistry40.ef4-chemistry40
    span.step.size-21
      span.letters Pp
      i#ef4-chemistry40.ef4-chemistry40
    span.step.size-24
      span.letters Pp
      i#ef4-chemistry40.ef4-chemistry40
    span.step.size-36
      span.letters Pp
      i#ef4-chemistry40.ef4-chemistry40
    span.step.size-48
      span.letters Pp
      i#ef4-chemistry40.ef4-chemistry40
    span.step.size-60
      span.letters Pp
      i#ef4-chemistry40.ef4-chemistry40
    span.step.size-72
      span.letters Pp
      i#ef4-chemistry40.ef4-chemistry40
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-chemistry40" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf107;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-computer269.ef4-computer269
    span.step.size-14
      span.letters Pp
      i#ef4-computer269.ef4-computer269
    span.step.size-16
      span.letters Pp
      i#ef4-computer269.ef4-computer269
    span.step.size-18
      span.letters Pp
      i#ef4-computer269.ef4-computer269
    span.step.size-21
      span.letters Pp
      i#ef4-computer269.ef4-computer269
    span.step.size-24
      span.letters Pp
      i#ef4-computer269.ef4-computer269
    span.step.size-36
      span.letters Pp
      i#ef4-computer269.ef4-computer269
    span.step.size-48
      span.letters Pp
      i#ef4-computer269.ef4-computer269
    span.step.size-60
      span.letters Pp
      i#ef4-computer269.ef4-computer269
    span.step.size-72
      span.letters Pp
      i#ef4-computer269.ef4-computer269
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-computer269" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf108;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-daily-calendar20.ef4-daily-calendar20
    span.step.size-14
      span.letters Pp
      i#ef4-daily-calendar20.ef4-daily-calendar20
    span.step.size-16
      span.letters Pp
      i#ef4-daily-calendar20.ef4-daily-calendar20
    span.step.size-18
      span.letters Pp
      i#ef4-daily-calendar20.ef4-daily-calendar20
    span.step.size-21
      span.letters Pp
      i#ef4-daily-calendar20.ef4-daily-calendar20
    span.step.size-24
      span.letters Pp
      i#ef4-daily-calendar20.ef4-daily-calendar20
    span.step.size-36
      span.letters Pp
      i#ef4-daily-calendar20.ef4-daily-calendar20
    span.step.size-48
      span.letters Pp
      i#ef4-daily-calendar20.ef4-daily-calendar20
    span.step.size-60
      span.letters Pp
      i#ef4-daily-calendar20.ef4-daily-calendar20
    span.step.size-72
      span.letters Pp
      i#ef4-daily-calendar20.ef4-daily-calendar20
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-daily-calendar20" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf109;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-degree3.ef4-degree3
    span.step.size-14
      span.letters Pp
      i#ef4-degree3.ef4-degree3
    span.step.size-16
      span.letters Pp
      i#ef4-degree3.ef4-degree3
    span.step.size-18
      span.letters Pp
      i#ef4-degree3.ef4-degree3
    span.step.size-21
      span.letters Pp
      i#ef4-degree3.ef4-degree3
    span.step.size-24
      span.letters Pp
      i#ef4-degree3.ef4-degree3
    span.step.size-36
      span.letters Pp
      i#ef4-degree3.ef4-degree3
    span.step.size-48
      span.letters Pp
      i#ef4-degree3.ef4-degree3
    span.step.size-60
      span.letters Pp
      i#ef4-degree3.ef4-degree3
    span.step.size-72
      span.letters Pp
      i#ef4-degree3.ef4-degree3
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-degree3" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-document297.ef4-document297
    span.step.size-14
      span.letters Pp
      i#ef4-document297.ef4-document297
    span.step.size-16
      span.letters Pp
      i#ef4-document297.ef4-document297
    span.step.size-18
      span.letters Pp
      i#ef4-document297.ef4-document297
    span.step.size-21
      span.letters Pp
      i#ef4-document297.ef4-document297
    span.step.size-24
      span.letters Pp
      i#ef4-document297.ef4-document297
    span.step.size-36
      span.letters Pp
      i#ef4-document297.ef4-document297
    span.step.size-48
      span.letters Pp
      i#ef4-document297.ef4-document297
    span.step.size-60
      span.letters Pp
      i#ef4-document297.ef4-document297
    span.step.size-72
      span.letters Pp
      i#ef4-document297.ef4-document297
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-document297" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-examination.ef4-examination
    span.step.size-14
      span.letters Pp
      i#ef4-examination.ef4-examination
    span.step.size-16
      span.letters Pp
      i#ef4-examination.ef4-examination
    span.step.size-18
      span.letters Pp
      i#ef4-examination.ef4-examination
    span.step.size-21
      span.letters Pp
      i#ef4-examination.ef4-examination
    span.step.size-24
      span.letters Pp
      i#ef4-examination.ef4-examination
    span.step.size-36
      span.letters Pp
      i#ef4-examination.ef4-examination
    span.step.size-48
      span.letters Pp
      i#ef4-examination.ef4-examination
    span.step.size-60
      span.letters Pp
      i#ef4-examination.ef4-examination
    span.step.size-72
      span.letters Pp
      i#ef4-examination.ef4-examination
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-examination" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-extraterrestrial1.ef4-extraterrestrial1
    span.step.size-14
      span.letters Pp
      i#ef4-extraterrestrial1.ef4-extraterrestrial1
    span.step.size-16
      span.letters Pp
      i#ef4-extraterrestrial1.ef4-extraterrestrial1
    span.step.size-18
      span.letters Pp
      i#ef4-extraterrestrial1.ef4-extraterrestrial1
    span.step.size-21
      span.letters Pp
      i#ef4-extraterrestrial1.ef4-extraterrestrial1
    span.step.size-24
      span.letters Pp
      i#ef4-extraterrestrial1.ef4-extraterrestrial1
    span.step.size-36
      span.letters Pp
      i#ef4-extraterrestrial1.ef4-extraterrestrial1
    span.step.size-48
      span.letters Pp
      i#ef4-extraterrestrial1.ef4-extraterrestrial1
    span.step.size-60
      span.letters Pp
      i#ef4-extraterrestrial1.ef4-extraterrestrial1
    span.step.size-72
      span.letters Pp
      i#ef4-extraterrestrial1.ef4-extraterrestrial1
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-extraterrestrial1" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10d;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-flowers62.ef4-flowers62
    span.step.size-14
      span.letters Pp
      i#ef4-flowers62.ef4-flowers62
    span.step.size-16
      span.letters Pp
      i#ef4-flowers62.ef4-flowers62
    span.step.size-18
      span.letters Pp
      i#ef4-flowers62.ef4-flowers62
    span.step.size-21
      span.letters Pp
      i#ef4-flowers62.ef4-flowers62
    span.step.size-24
      span.letters Pp
      i#ef4-flowers62.ef4-flowers62
    span.step.size-36
      span.letters Pp
      i#ef4-flowers62.ef4-flowers62
    span.step.size-48
      span.letters Pp
      i#ef4-flowers62.ef4-flowers62
    span.step.size-60
      span.letters Pp
      i#ef4-flowers62.ef4-flowers62
    span.step.size-72
      span.letters Pp
      i#ef4-flowers62.ef4-flowers62
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-flowers62" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10e;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-genius.ef4-genius
    span.step.size-14
      span.letters Pp
      i#ef4-genius.ef4-genius
    span.step.size-16
      span.letters Pp
      i#ef4-genius.ef4-genius
    span.step.size-18
      span.letters Pp
      i#ef4-genius.ef4-genius
    span.step.size-21
      span.letters Pp
      i#ef4-genius.ef4-genius
    span.step.size-24
      span.letters Pp
      i#ef4-genius.ef4-genius
    span.step.size-36
      span.letters Pp
      i#ef4-genius.ef4-genius
    span.step.size-48
      span.letters Pp
      i#ef4-genius.ef4-genius
    span.step.size-60
      span.letters Pp
      i#ef4-genius.ef4-genius
    span.step.size-72
      span.letters Pp
      i#ef4-genius.ef4-genius
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-genius" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10f;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-glasses53.ef4-glasses53
    span.step.size-14
      span.letters Pp
      i#ef4-glasses53.ef4-glasses53
    span.step.size-16
      span.letters Pp
      i#ef4-glasses53.ef4-glasses53
    span.step.size-18
      span.letters Pp
      i#ef4-glasses53.ef4-glasses53
    span.step.size-21
      span.letters Pp
      i#ef4-glasses53.ef4-glasses53
    span.step.size-24
      span.letters Pp
      i#ef4-glasses53.ef4-glasses53
    span.step.size-36
      span.letters Pp
      i#ef4-glasses53.ef4-glasses53
    span.step.size-48
      span.letters Pp
      i#ef4-glasses53.ef4-glasses53
    span.step.size-60
      span.letters Pp
      i#ef4-glasses53.ef4-glasses53
    span.step.size-72
      span.letters Pp
      i#ef4-glasses53.ef4-glasses53
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-glasses53" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf110;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-greek10.ef4-greek10
    span.step.size-14
      span.letters Pp
      i#ef4-greek10.ef4-greek10
    span.step.size-16
      span.letters Pp
      i#ef4-greek10.ef4-greek10
    span.step.size-18
      span.letters Pp
      i#ef4-greek10.ef4-greek10
    span.step.size-21
      span.letters Pp
      i#ef4-greek10.ef4-greek10
    span.step.size-24
      span.letters Pp
      i#ef4-greek10.ef4-greek10
    span.step.size-36
      span.letters Pp
      i#ef4-greek10.ef4-greek10
    span.step.size-48
      span.letters Pp
      i#ef4-greek10.ef4-greek10
    span.step.size-60
      span.letters Pp
      i#ef4-greek10.ef4-greek10
    span.step.size-72
      span.letters Pp
      i#ef4-greek10.ef4-greek10
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-greek10" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf111;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-health-care29.ef4-health-care29
    span.step.size-14
      span.letters Pp
      i#ef4-health-care29.ef4-health-care29
    span.step.size-16
      span.letters Pp
      i#ef4-health-care29.ef4-health-care29
    span.step.size-18
      span.letters Pp
      i#ef4-health-care29.ef4-health-care29
    span.step.size-21
      span.letters Pp
      i#ef4-health-care29.ef4-health-care29
    span.step.size-24
      span.letters Pp
      i#ef4-health-care29.ef4-health-care29
    span.step.size-36
      span.letters Pp
      i#ef4-health-care29.ef4-health-care29
    span.step.size-48
      span.letters Pp
      i#ef4-health-care29.ef4-health-care29
    span.step.size-60
      span.letters Pp
      i#ef4-health-care29.ef4-health-care29
    span.step.size-72
      span.letters Pp
      i#ef4-health-care29.ef4-health-care29
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-health-care29" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf112;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-look21.ef4-look21
    span.step.size-14
      span.letters Pp
      i#ef4-look21.ef4-look21
    span.step.size-16
      span.letters Pp
      i#ef4-look21.ef4-look21
    span.step.size-18
      span.letters Pp
      i#ef4-look21.ef4-look21
    span.step.size-21
      span.letters Pp
      i#ef4-look21.ef4-look21
    span.step.size-24
      span.letters Pp
      i#ef4-look21.ef4-look21
    span.step.size-36
      span.letters Pp
      i#ef4-look21.ef4-look21
    span.step.size-48
      span.letters Pp
      i#ef4-look21.ef4-look21
    span.step.size-60
      span.letters Pp
      i#ef4-look21.ef4-look21
    span.step.size-72
      span.letters Pp
      i#ef4-look21.ef4-look21
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-look21" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf113;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-mathematics20.ef4-mathematics20
    span.step.size-14
      span.letters Pp
      i#ef4-mathematics20.ef4-mathematics20
    span.step.size-16
      span.letters Pp
      i#ef4-mathematics20.ef4-mathematics20
    span.step.size-18
      span.letters Pp
      i#ef4-mathematics20.ef4-mathematics20
    span.step.size-21
      span.letters Pp
      i#ef4-mathematics20.ef4-mathematics20
    span.step.size-24
      span.letters Pp
      i#ef4-mathematics20.ef4-mathematics20
    span.step.size-36
      span.letters Pp
      i#ef4-mathematics20.ef4-mathematics20
    span.step.size-48
      span.letters Pp
      i#ef4-mathematics20.ef4-mathematics20
    span.step.size-60
      span.letters Pp
      i#ef4-mathematics20.ef4-mathematics20
    span.step.size-72
      span.letters Pp
      i#ef4-mathematics20.ef4-mathematics20
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-mathematics20" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf114;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-maths80.ef4-maths80
    span.step.size-14
      span.letters Pp
      i#ef4-maths80.ef4-maths80
    span.step.size-16
      span.letters Pp
      i#ef4-maths80.ef4-maths80
    span.step.size-18
      span.letters Pp
      i#ef4-maths80.ef4-maths80
    span.step.size-21
      span.letters Pp
      i#ef4-maths80.ef4-maths80
    span.step.size-24
      span.letters Pp
      i#ef4-maths80.ef4-maths80
    span.step.size-36
      span.letters Pp
      i#ef4-maths80.ef4-maths80
    span.step.size-48
      span.letters Pp
      i#ef4-maths80.ef4-maths80
    span.step.size-60
      span.letters Pp
      i#ef4-maths80.ef4-maths80
    span.step.size-72
      span.letters Pp
      i#ef4-maths80.ef4-maths80
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-maths80" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf115;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-medieval8.ef4-medieval8
    span.step.size-14
      span.letters Pp
      i#ef4-medieval8.ef4-medieval8
    span.step.size-16
      span.letters Pp
      i#ef4-medieval8.ef4-medieval8
    span.step.size-18
      span.letters Pp
      i#ef4-medieval8.ef4-medieval8
    span.step.size-21
      span.letters Pp
      i#ef4-medieval8.ef4-medieval8
    span.step.size-24
      span.letters Pp
      i#ef4-medieval8.ef4-medieval8
    span.step.size-36
      span.letters Pp
      i#ef4-medieval8.ef4-medieval8
    span.step.size-48
      span.letters Pp
      i#ef4-medieval8.ef4-medieval8
    span.step.size-60
      span.letters Pp
      i#ef4-medieval8.ef4-medieval8
    span.step.size-72
      span.letters Pp
      i#ef4-medieval8.ef4-medieval8
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-medieval8" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf116;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-network74.ef4-network74
    span.step.size-14
      span.letters Pp
      i#ef4-network74.ef4-network74
    span.step.size-16
      span.letters Pp
      i#ef4-network74.ef4-network74
    span.step.size-18
      span.letters Pp
      i#ef4-network74.ef4-network74
    span.step.size-21
      span.letters Pp
      i#ef4-network74.ef4-network74
    span.step.size-24
      span.letters Pp
      i#ef4-network74.ef4-network74
    span.step.size-36
      span.letters Pp
      i#ef4-network74.ef4-network74
    span.step.size-48
      span.letters Pp
      i#ef4-network74.ef4-network74
    span.step.size-60
      span.letters Pp
      i#ef4-network74.ef4-network74
    span.step.size-72
      span.letters Pp
      i#ef4-network74.ef4-network74
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-network74" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf117;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-night30.ef4-night30
    span.step.size-14
      span.letters Pp
      i#ef4-night30.ef4-night30
    span.step.size-16
      span.letters Pp
      i#ef4-night30.ef4-night30
    span.step.size-18
      span.letters Pp
      i#ef4-night30.ef4-night30
    span.step.size-21
      span.letters Pp
      i#ef4-night30.ef4-night30
    span.step.size-24
      span.letters Pp
      i#ef4-night30.ef4-night30
    span.step.size-36
      span.letters Pp
      i#ef4-night30.ef4-night30
    span.step.size-48
      span.letters Pp
      i#ef4-night30.ef4-night30
    span.step.size-60
      span.letters Pp
      i#ef4-night30.ef4-night30
    span.step.size-72
      span.letters Pp
      i#ef4-night30.ef4-night30
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-night30" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf118;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-notepad37.ef4-notepad37
    span.step.size-14
      span.letters Pp
      i#ef4-notepad37.ef4-notepad37
    span.step.size-16
      span.letters Pp
      i#ef4-notepad37.ef4-notepad37
    span.step.size-18
      span.letters Pp
      i#ef4-notepad37.ef4-notepad37
    span.step.size-21
      span.letters Pp
      i#ef4-notepad37.ef4-notepad37
    span.step.size-24
      span.letters Pp
      i#ef4-notepad37.ef4-notepad37
    span.step.size-36
      span.letters Pp
      i#ef4-notepad37.ef4-notepad37
    span.step.size-48
      span.letters Pp
      i#ef4-notepad37.ef4-notepad37
    span.step.size-60
      span.letters Pp
      i#ef4-notepad37.ef4-notepad37
    span.step.size-72
      span.letters Pp
      i#ef4-notepad37.ef4-notepad37
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-notepad37" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf119;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-pencil136.ef4-pencil136
    span.step.size-14
      span.letters Pp
      i#ef4-pencil136.ef4-pencil136
    span.step.size-16
      span.letters Pp
      i#ef4-pencil136.ef4-pencil136
    span.step.size-18
      span.letters Pp
      i#ef4-pencil136.ef4-pencil136
    span.step.size-21
      span.letters Pp
      i#ef4-pencil136.ef4-pencil136
    span.step.size-24
      span.letters Pp
      i#ef4-pencil136.ef4-pencil136
    span.step.size-36
      span.letters Pp
      i#ef4-pencil136.ef4-pencil136
    span.step.size-48
      span.letters Pp
      i#ef4-pencil136.ef4-pencil136
    span.step.size-60
      span.letters Pp
      i#ef4-pencil136.ef4-pencil136
    span.step.size-72
      span.letters Pp
      i#ef4-pencil136.ef4-pencil136
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-pencil136" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-recycle79.ef4-recycle79
    span.step.size-14
      span.letters Pp
      i#ef4-recycle79.ef4-recycle79
    span.step.size-16
      span.letters Pp
      i#ef4-recycle79.ef4-recycle79
    span.step.size-18
      span.letters Pp
      i#ef4-recycle79.ef4-recycle79
    span.step.size-21
      span.letters Pp
      i#ef4-recycle79.ef4-recycle79
    span.step.size-24
      span.letters Pp
      i#ef4-recycle79.ef4-recycle79
    span.step.size-36
      span.letters Pp
      i#ef4-recycle79.ef4-recycle79
    span.step.size-48
      span.letters Pp
      i#ef4-recycle79.ef4-recycle79
    span.step.size-60
      span.letters Pp
      i#ef4-recycle79.ef4-recycle79
    span.step.size-72
      span.letters Pp
      i#ef4-recycle79.ef4-recycle79
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-recycle79" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-science54.ef4-science54
    span.step.size-14
      span.letters Pp
      i#ef4-science54.ef4-science54
    span.step.size-16
      span.letters Pp
      i#ef4-science54.ef4-science54
    span.step.size-18
      span.letters Pp
      i#ef4-science54.ef4-science54
    span.step.size-21
      span.letters Pp
      i#ef4-science54.ef4-science54
    span.step.size-24
      span.letters Pp
      i#ef4-science54.ef4-science54
    span.step.size-36
      span.letters Pp
      i#ef4-science54.ef4-science54
    span.step.size-48
      span.letters Pp
      i#ef4-science54.ef4-science54
    span.step.size-60
      span.letters Pp
      i#ef4-science54.ef4-science54
    span.step.size-72
      span.letters Pp
      i#ef4-science54.ef4-science54
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-science54" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-science55.ef4-science55
    span.step.size-14
      span.letters Pp
      i#ef4-science55.ef4-science55
    span.step.size-16
      span.letters Pp
      i#ef4-science55.ef4-science55
    span.step.size-18
      span.letters Pp
      i#ef4-science55.ef4-science55
    span.step.size-21
      span.letters Pp
      i#ef4-science55.ef4-science55
    span.step.size-24
      span.letters Pp
      i#ef4-science55.ef4-science55
    span.step.size-36
      span.letters Pp
      i#ef4-science55.ef4-science55
    span.step.size-48
      span.letters Pp
      i#ef4-science55.ef4-science55
    span.step.size-60
      span.letters Pp
      i#ef4-science55.ef4-science55
    span.step.size-72
      span.letters Pp
      i#ef4-science55.ef4-science55
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-science55" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11d;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-soccer-ball2.ef4-soccer-ball2
    span.step.size-14
      span.letters Pp
      i#ef4-soccer-ball2.ef4-soccer-ball2
    span.step.size-16
      span.letters Pp
      i#ef4-soccer-ball2.ef4-soccer-ball2
    span.step.size-18
      span.letters Pp
      i#ef4-soccer-ball2.ef4-soccer-ball2
    span.step.size-21
      span.letters Pp
      i#ef4-soccer-ball2.ef4-soccer-ball2
    span.step.size-24
      span.letters Pp
      i#ef4-soccer-ball2.ef4-soccer-ball2
    span.step.size-36
      span.letters Pp
      i#ef4-soccer-ball2.ef4-soccer-ball2
    span.step.size-48
      span.letters Pp
      i#ef4-soccer-ball2.ef4-soccer-ball2
    span.step.size-60
      span.letters Pp
      i#ef4-soccer-ball2.ef4-soccer-ball2
    span.step.size-72
      span.letters Pp
      i#ef4-soccer-ball2.ef4-soccer-ball2
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-soccer-ball2" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11e;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-stats109.ef4-stats109
    span.step.size-14
      span.letters Pp
      i#ef4-stats109.ef4-stats109
    span.step.size-16
      span.letters Pp
      i#ef4-stats109.ef4-stats109
    span.step.size-18
      span.letters Pp
      i#ef4-stats109.ef4-stats109
    span.step.size-21
      span.letters Pp
      i#ef4-stats109.ef4-stats109
    span.step.size-24
      span.letters Pp
      i#ef4-stats109.ef4-stats109
    span.step.size-36
      span.letters Pp
      i#ef4-stats109.ef4-stats109
    span.step.size-48
      span.letters Pp
      i#ef4-stats109.ef4-stats109
    span.step.size-60
      span.letters Pp
      i#ef4-stats109.ef4-stats109
    span.step.size-72
      span.letters Pp
      i#ef4-stats109.ef4-stats109
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-stats109" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11f;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-stats110.ef4-stats110
    span.step.size-14
      span.letters Pp
      i#ef4-stats110.ef4-stats110
    span.step.size-16
      span.letters Pp
      i#ef4-stats110.ef4-stats110
    span.step.size-18
      span.letters Pp
      i#ef4-stats110.ef4-stats110
    span.step.size-21
      span.letters Pp
      i#ef4-stats110.ef4-stats110
    span.step.size-24
      span.letters Pp
      i#ef4-stats110.ef4-stats110
    span.step.size-36
      span.letters Pp
      i#ef4-stats110.ef4-stats110
    span.step.size-48
      span.letters Pp
      i#ef4-stats110.ef4-stats110
    span.step.size-60
      span.letters Pp
      i#ef4-stats110.ef4-stats110
    span.step.size-72
      span.letters Pp
      i#ef4-stats110.ef4-stats110
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-stats110" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf120;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-teacher50.ef4-teacher50
    span.step.size-14
      span.letters Pp
      i#ef4-teacher50.ef4-teacher50
    span.step.size-16
      span.letters Pp
      i#ef4-teacher50.ef4-teacher50
    span.step.size-18
      span.letters Pp
      i#ef4-teacher50.ef4-teacher50
    span.step.size-21
      span.letters Pp
      i#ef4-teacher50.ef4-teacher50
    span.step.size-24
      span.letters Pp
      i#ef4-teacher50.ef4-teacher50
    span.step.size-36
      span.letters Pp
      i#ef4-teacher50.ef4-teacher50
    span.step.size-48
      span.letters Pp
      i#ef4-teacher50.ef4-teacher50
    span.step.size-60
      span.letters Pp
      i#ef4-teacher50.ef4-teacher50
    span.step.size-72
      span.letters Pp
      i#ef4-teacher50.ef4-teacher50
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-teacher50" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf121;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-tool109.ef4-tool109
    span.step.size-14
      span.letters Pp
      i#ef4-tool109.ef4-tool109
    span.step.size-16
      span.letters Pp
      i#ef4-tool109.ef4-tool109
    span.step.size-18
      span.letters Pp
      i#ef4-tool109.ef4-tool109
    span.step.size-21
      span.letters Pp
      i#ef4-tool109.ef4-tool109
    span.step.size-24
      span.letters Pp
      i#ef4-tool109.ef4-tool109
    span.step.size-36
      span.letters Pp
      i#ef4-tool109.ef4-tool109
    span.step.size-48
      span.letters Pp
      i#ef4-tool109.ef4-tool109
    span.step.size-60
      span.letters Pp
      i#ef4-tool109.ef4-tool109
    span.step.size-72
      span.letters Pp
      i#ef4-tool109.ef4-tool109
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-tool109" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf122;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef4-transport625.ef4-transport625
    span.step.size-14
      span.letters Pp
      i#ef4-transport625.ef4-transport625
    span.step.size-16
      span.letters Pp
      i#ef4-transport625.ef4-transport625
    span.step.size-18
      span.letters Pp
      i#ef4-transport625.ef4-transport625
    span.step.size-21
      span.letters Pp
      i#ef4-transport625.ef4-transport625
    span.step.size-24
      span.letters Pp
      i#ef4-transport625.ef4-transport625
    span.step.size-36
      span.letters Pp
      i#ef4-transport625.ef4-transport625
    span.step.size-48
      span.letters Pp
      i#ef4-transport625.ef4-transport625
    span.step.size-60
      span.letters Pp
      i#ef4-transport625.ef4-transport625
    span.step.size-72
      span.letters Pp
      i#ef4-transport625.ef4-transport625
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef4-transport625" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf123;" /
