
<header>
  <h1>ei-font-6 contains 30 glyphs:</h1>
  <a onclick="toggleCharacters(); return false;" href="#">Toggle Preview Characters</a>
</header>


<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-chat133" class="ef6-chat133"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-chat133" class="ef6-chat133"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-chat133" class="ef6-chat133"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-chat133" class="ef6-chat133"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-chat133" class="ef6-chat133"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-chat133" class="ef6-chat133"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-chat133" class="ef6-chat133"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-chat133" class="ef6-chat133"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-chat133" class="ef6-chat133"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-chat133" class="ef6-chat133"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-chat133" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf100;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-chat134" class="ef6-chat134"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-chat134" class="ef6-chat134"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-chat134" class="ef6-chat134"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-chat134" class="ef6-chat134"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-chat134" class="ef6-chat134"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-chat134" class="ef6-chat134"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-chat134" class="ef6-chat134"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-chat134" class="ef6-chat134"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-chat134" class="ef6-chat134"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-chat134" class="ef6-chat134"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-chat134" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf101;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-conversation24" class="ef6-conversation24"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-conversation24" class="ef6-conversation24"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-conversation24" class="ef6-conversation24"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-conversation24" class="ef6-conversation24"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-conversation24" class="ef6-conversation24"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-conversation24" class="ef6-conversation24"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-conversation24" class="ef6-conversation24"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-conversation24" class="ef6-conversation24"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-conversation24" class="ef6-conversation24"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-conversation24" class="ef6-conversation24"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-conversation24" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf102;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-email164" class="ef6-email164"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-email164" class="ef6-email164"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-email164" class="ef6-email164"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-email164" class="ef6-email164"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-email164" class="ef6-email164"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-email164" class="ef6-email164"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-email164" class="ef6-email164"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-email164" class="ef6-email164"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-email164" class="ef6-email164"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-email164" class="ef6-email164"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-email164" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf103;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-envelope90" class="ef6-envelope90"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-envelope90" class="ef6-envelope90"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-envelope90" class="ef6-envelope90"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-envelope90" class="ef6-envelope90"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-envelope90" class="ef6-envelope90"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-envelope90" class="ef6-envelope90"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-envelope90" class="ef6-envelope90"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-envelope90" class="ef6-envelope90"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-envelope90" class="ef6-envelope90"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-envelope90" class="ef6-envelope90"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-envelope90" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf104;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-hand-gesture21" class="ef6-hand-gesture21"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-hand-gesture21" class="ef6-hand-gesture21"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-hand-gesture21" class="ef6-hand-gesture21"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-hand-gesture21" class="ef6-hand-gesture21"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-hand-gesture21" class="ef6-hand-gesture21"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-hand-gesture21" class="ef6-hand-gesture21"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-hand-gesture21" class="ef6-hand-gesture21"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-hand-gesture21" class="ef6-hand-gesture21"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-hand-gesture21" class="ef6-hand-gesture21"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-hand-gesture21" class="ef6-hand-gesture21"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-hand-gesture21" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf105;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-mail134" class="ef6-mail134"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-mail134" class="ef6-mail134"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-mail134" class="ef6-mail134"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-mail134" class="ef6-mail134"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-mail134" class="ef6-mail134"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-mail134" class="ef6-mail134"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-mail134" class="ef6-mail134"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-mail134" class="ef6-mail134"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-mail134" class="ef6-mail134"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-mail134" class="ef6-mail134"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-mail134" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf106;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-man97" class="ef6-man97"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-man97" class="ef6-man97"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-man97" class="ef6-man97"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-man97" class="ef6-man97"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-man97" class="ef6-man97"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-man97" class="ef6-man97"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-man97" class="ef6-man97"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-man97" class="ef6-man97"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-man97" class="ef6-man97"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-man97" class="ef6-man97"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-man97" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf107;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-man98" class="ef6-man98"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-man98" class="ef6-man98"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-man98" class="ef6-man98"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-man98" class="ef6-man98"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-man98" class="ef6-man98"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-man98" class="ef6-man98"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-man98" class="ef6-man98"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-man98" class="ef6-man98"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-man98" class="ef6-man98"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-man98" class="ef6-man98"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-man98" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf108;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-micro4" class="ef6-micro4"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-micro4" class="ef6-micro4"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-micro4" class="ef6-micro4"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-micro4" class="ef6-micro4"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-micro4" class="ef6-micro4"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-micro4" class="ef6-micro4"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-micro4" class="ef6-micro4"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-micro4" class="ef6-micro4"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-micro4" class="ef6-micro4"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-micro4" class="ef6-micro4"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-micro4" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf109;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-movie89" class="ef6-movie89"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-movie89" class="ef6-movie89"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-movie89" class="ef6-movie89"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-movie89" class="ef6-movie89"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-movie89" class="ef6-movie89"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-movie89" class="ef6-movie89"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-movie89" class="ef6-movie89"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-movie89" class="ef6-movie89"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-movie89" class="ef6-movie89"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-movie89" class="ef6-movie89"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-movie89" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf10a;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-network73" class="ef6-network73"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-network73" class="ef6-network73"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-network73" class="ef6-network73"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-network73" class="ef6-network73"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-network73" class="ef6-network73"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-network73" class="ef6-network73"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-network73" class="ef6-network73"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-network73" class="ef6-network73"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-network73" class="ef6-network73"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-network73" class="ef6-network73"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-network73" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf10b;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-news35" class="ef6-news35"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-news35" class="ef6-news35"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-news35" class="ef6-news35"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-news35" class="ef6-news35"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-news35" class="ef6-news35"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-news35" class="ef6-news35"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-news35" class="ef6-news35"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-news35" class="ef6-news35"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-news35" class="ef6-news35"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-news35" class="ef6-news35"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-news35" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf10c;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-notebook117" class="ef6-notebook117"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-notebook117" class="ef6-notebook117"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-notebook117" class="ef6-notebook117"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-notebook117" class="ef6-notebook117"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-notebook117" class="ef6-notebook117"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-notebook117" class="ef6-notebook117"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-notebook117" class="ef6-notebook117"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-notebook117" class="ef6-notebook117"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-notebook117" class="ef6-notebook117"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-notebook117" class="ef6-notebook117"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-notebook117" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf10d;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-origami28" class="ef6-origami28"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-origami28" class="ef6-origami28"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-origami28" class="ef6-origami28"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-origami28" class="ef6-origami28"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-origami28" class="ef6-origami28"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-origami28" class="ef6-origami28"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-origami28" class="ef6-origami28"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-origami28" class="ef6-origami28"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-origami28" class="ef6-origami28"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-origami28" class="ef6-origami28"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-origami28" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf10e;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-parabolic14" class="ef6-parabolic14"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-parabolic14" class="ef6-parabolic14"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-parabolic14" class="ef6-parabolic14"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-parabolic14" class="ef6-parabolic14"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-parabolic14" class="ef6-parabolic14"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-parabolic14" class="ef6-parabolic14"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-parabolic14" class="ef6-parabolic14"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-parabolic14" class="ef6-parabolic14"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-parabolic14" class="ef6-parabolic14"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-parabolic14" class="ef6-parabolic14"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-parabolic14" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf10f;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-parabolic15" class="ef6-parabolic15"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-parabolic15" class="ef6-parabolic15"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-parabolic15" class="ef6-parabolic15"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-parabolic15" class="ef6-parabolic15"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-parabolic15" class="ef6-parabolic15"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-parabolic15" class="ef6-parabolic15"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-parabolic15" class="ef6-parabolic15"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-parabolic15" class="ef6-parabolic15"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-parabolic15" class="ef6-parabolic15"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-parabolic15" class="ef6-parabolic15"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-parabolic15" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf110;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-phone-call22" class="ef6-phone-call22"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-phone-call22" class="ef6-phone-call22"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-phone-call22" class="ef6-phone-call22"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-phone-call22" class="ef6-phone-call22"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-phone-call22" class="ef6-phone-call22"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-phone-call22" class="ef6-phone-call22"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-phone-call22" class="ef6-phone-call22"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-phone-call22" class="ef6-phone-call22"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-phone-call22" class="ef6-phone-call22"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-phone-call22" class="ef6-phone-call22"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-phone-call22" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf111;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-phone-call23" class="ef6-phone-call23"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-phone-call23" class="ef6-phone-call23"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-phone-call23" class="ef6-phone-call23"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-phone-call23" class="ef6-phone-call23"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-phone-call23" class="ef6-phone-call23"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-phone-call23" class="ef6-phone-call23"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-phone-call23" class="ef6-phone-call23"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-phone-call23" class="ef6-phone-call23"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-phone-call23" class="ef6-phone-call23"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-phone-call23" class="ef6-phone-call23"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-phone-call23" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf112;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-ribbon9" class="ef6-ribbon9"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-ribbon9" class="ef6-ribbon9"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-ribbon9" class="ef6-ribbon9"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-ribbon9" class="ef6-ribbon9"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-ribbon9" class="ef6-ribbon9"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-ribbon9" class="ef6-ribbon9"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-ribbon9" class="ef6-ribbon9"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-ribbon9" class="ef6-ribbon9"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-ribbon9" class="ef6-ribbon9"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-ribbon9" class="ef6-ribbon9"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-ribbon9" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf113;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-shout2" class="ef6-shout2"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-shout2" class="ef6-shout2"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-shout2" class="ef6-shout2"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-shout2" class="ef6-shout2"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-shout2" class="ef6-shout2"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-shout2" class="ef6-shout2"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-shout2" class="ef6-shout2"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-shout2" class="ef6-shout2"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-shout2" class="ef6-shout2"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-shout2" class="ef6-shout2"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-shout2" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf114;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-smartphone201" class="ef6-smartphone201"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-smartphone201" class="ef6-smartphone201"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-smartphone201" class="ef6-smartphone201"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-smartphone201" class="ef6-smartphone201"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-smartphone201" class="ef6-smartphone201"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-smartphone201" class="ef6-smartphone201"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-smartphone201" class="ef6-smartphone201"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-smartphone201" class="ef6-smartphone201"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-smartphone201" class="ef6-smartphone201"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-smartphone201" class="ef6-smartphone201"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-smartphone201" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf115;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-social-network279" class="ef6-social-network279"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-social-network279" class="ef6-social-network279"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-social-network279" class="ef6-social-network279"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-social-network279" class="ef6-social-network279"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-social-network279" class="ef6-social-network279"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-social-network279" class="ef6-social-network279"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-social-network279" class="ef6-social-network279"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-social-network279" class="ef6-social-network279"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-social-network279" class="ef6-social-network279"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-social-network279" class="ef6-social-network279"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-social-network279" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf116;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-speech-bubble83" class="ef6-speech-bubble83"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-speech-bubble83" class="ef6-speech-bubble83"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-speech-bubble83" class="ef6-speech-bubble83"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-speech-bubble83" class="ef6-speech-bubble83"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-speech-bubble83" class="ef6-speech-bubble83"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-speech-bubble83" class="ef6-speech-bubble83"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-speech-bubble83" class="ef6-speech-bubble83"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-speech-bubble83" class="ef6-speech-bubble83"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-speech-bubble83" class="ef6-speech-bubble83"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-speech-bubble83" class="ef6-speech-bubble83"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-speech-bubble83" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf117;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-speech6" class="ef6-speech6"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-speech6" class="ef6-speech6"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-speech6" class="ef6-speech6"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-speech6" class="ef6-speech6"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-speech6" class="ef6-speech6"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-speech6" class="ef6-speech6"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-speech6" class="ef6-speech6"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-speech6" class="ef6-speech6"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-speech6" class="ef6-speech6"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-speech6" class="ef6-speech6"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-speech6" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf118;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-user233" class="ef6-user233"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-user233" class="ef6-user233"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-user233" class="ef6-user233"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-user233" class="ef6-user233"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-user233" class="ef6-user233"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-user233" class="ef6-user233"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-user233" class="ef6-user233"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-user233" class="ef6-user233"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-user233" class="ef6-user233"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-user233" class="ef6-user233"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-user233" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf119;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-voice-recorder1" class="ef6-voice-recorder1"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-voice-recorder1" class="ef6-voice-recorder1"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-voice-recorder1" class="ef6-voice-recorder1"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-voice-recorder1" class="ef6-voice-recorder1"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-voice-recorder1" class="ef6-voice-recorder1"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-voice-recorder1" class="ef6-voice-recorder1"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-voice-recorder1" class="ef6-voice-recorder1"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-voice-recorder1" class="ef6-voice-recorder1"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-voice-recorder1" class="ef6-voice-recorder1"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-voice-recorder1" class="ef6-voice-recorder1"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-voice-recorder1" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf11a;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-wifi-signal10" class="ef6-wifi-signal10"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-wifi-signal10" class="ef6-wifi-signal10"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-wifi-signal10" class="ef6-wifi-signal10"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-wifi-signal10" class="ef6-wifi-signal10"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-wifi-signal10" class="ef6-wifi-signal10"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-wifi-signal10" class="ef6-wifi-signal10"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-wifi-signal10" class="ef6-wifi-signal10"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-wifi-signal10" class="ef6-wifi-signal10"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-wifi-signal10" class="ef6-wifi-signal10"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-wifi-signal10" class="ef6-wifi-signal10"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-wifi-signal10" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf11b;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-wireless-connectivity24" class="ef6-wireless-connectivity24"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-wireless-connectivity24" class="ef6-wireless-connectivity24"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-wireless-connectivity24" class="ef6-wireless-connectivity24"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-wireless-connectivity24" class="ef6-wireless-connectivity24"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-wireless-connectivity24" class="ef6-wireless-connectivity24"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-wireless-connectivity24" class="ef6-wireless-connectivity24"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-wireless-connectivity24" class="ef6-wireless-connectivity24"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-wireless-connectivity24" class="ef6-wireless-connectivity24"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-wireless-connectivity24" class="ef6-wireless-connectivity24"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-wireless-connectivity24" class="ef6-wireless-connectivity24"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-wireless-connectivity24" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf11c;" />
  </div>
</div>

<div class="glyph">
  <div class="preview-glyphs">
    <span class="step size-12"><span class="letters">Pp</span><i id="ef6-world-grid8" class="ef6-world-grid8"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="ef6-world-grid8" class="ef6-world-grid8"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="ef6-world-grid8" class="ef6-world-grid8"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="ef6-world-grid8" class="ef6-world-grid8"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="ef6-world-grid8" class="ef6-world-grid8"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="ef6-world-grid8" class="ef6-world-grid8"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="ef6-world-grid8" class="ef6-world-grid8"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="ef6-world-grid8" class="ef6-world-grid8"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="ef6-world-grid8" class="ef6-world-grid8"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="ef6-world-grid8" class="ef6-world-grid8"></i></span>
  </div>
  <div class="preview-scale">
    <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
  </div>
  <div class="usage">
    <input class="class" type="text" readonly="readonly" onClick="this.select();" value="ef6-world-grid8" />
    <input class="point" type="text" readonly="readonly" onClick="this.select();" value="&amp;#xf11d;" />
  </div>
</div>

