header
  h1 ei-font-7 contains 30 glyphs:
  a href="#" onclick=("toggleCharacters(); return false;")  Toggle Preview Characters
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-agenda19.ef7-agenda19
    span.step.size-14
      span.letters Pp
      i#ef7-agenda19.ef7-agenda19
    span.step.size-16
      span.letters Pp
      i#ef7-agenda19.ef7-agenda19
    span.step.size-18
      span.letters Pp
      i#ef7-agenda19.ef7-agenda19
    span.step.size-21
      span.letters Pp
      i#ef7-agenda19.ef7-agenda19
    span.step.size-24
      span.letters Pp
      i#ef7-agenda19.ef7-agenda19
    span.step.size-36
      span.letters Pp
      i#ef7-agenda19.ef7-agenda19
    span.step.size-48
      span.letters Pp
      i#ef7-agenda19.ef7-agenda19
    span.step.size-60
      span.letters Pp
      i#ef7-agenda19.ef7-agenda19
    span.step.size-72
      span.letters Pp
      i#ef7-agenda19.ef7-agenda19
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-agenda19" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf100;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-arroba.ef7-arroba
    span.step.size-14
      span.letters Pp
      i#ef7-arroba.ef7-arroba
    span.step.size-16
      span.letters Pp
      i#ef7-arroba.ef7-arroba
    span.step.size-18
      span.letters Pp
      i#ef7-arroba.ef7-arroba
    span.step.size-21
      span.letters Pp
      i#ef7-arroba.ef7-arroba
    span.step.size-24
      span.letters Pp
      i#ef7-arroba.ef7-arroba
    span.step.size-36
      span.letters Pp
      i#ef7-arroba.ef7-arroba
    span.step.size-48
      span.letters Pp
      i#ef7-arroba.ef7-arroba
    span.step.size-60
      span.letters Pp
      i#ef7-arroba.ef7-arroba
    span.step.size-72
      span.letters Pp
      i#ef7-arroba.ef7-arroba
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-arroba" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf101;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-at8.ef7-at8
    span.step.size-14
      span.letters Pp
      i#ef7-at8.ef7-at8
    span.step.size-16
      span.letters Pp
      i#ef7-at8.ef7-at8
    span.step.size-18
      span.letters Pp
      i#ef7-at8.ef7-at8
    span.step.size-21
      span.letters Pp
      i#ef7-at8.ef7-at8
    span.step.size-24
      span.letters Pp
      i#ef7-at8.ef7-at8
    span.step.size-36
      span.letters Pp
      i#ef7-at8.ef7-at8
    span.step.size-48
      span.letters Pp
      i#ef7-at8.ef7-at8
    span.step.size-60
      span.letters Pp
      i#ef7-at8.ef7-at8
    span.step.size-72
      span.letters Pp
      i#ef7-at8.ef7-at8
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-at8" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf102;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-chat135.ef7-chat135
    span.step.size-14
      span.letters Pp
      i#ef7-chat135.ef7-chat135
    span.step.size-16
      span.letters Pp
      i#ef7-chat135.ef7-chat135
    span.step.size-18
      span.letters Pp
      i#ef7-chat135.ef7-chat135
    span.step.size-21
      span.letters Pp
      i#ef7-chat135.ef7-chat135
    span.step.size-24
      span.letters Pp
      i#ef7-chat135.ef7-chat135
    span.step.size-36
      span.letters Pp
      i#ef7-chat135.ef7-chat135
    span.step.size-48
      span.letters Pp
      i#ef7-chat135.ef7-chat135
    span.step.size-60
      span.letters Pp
      i#ef7-chat135.ef7-chat135
    span.step.size-72
      span.letters Pp
      i#ef7-chat135.ef7-chat135
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-chat135" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf103;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-computer-mouse43.ef7-computer-mouse43
    span.step.size-14
      span.letters Pp
      i#ef7-computer-mouse43.ef7-computer-mouse43
    span.step.size-16
      span.letters Pp
      i#ef7-computer-mouse43.ef7-computer-mouse43
    span.step.size-18
      span.letters Pp
      i#ef7-computer-mouse43.ef7-computer-mouse43
    span.step.size-21
      span.letters Pp
      i#ef7-computer-mouse43.ef7-computer-mouse43
    span.step.size-24
      span.letters Pp
      i#ef7-computer-mouse43.ef7-computer-mouse43
    span.step.size-36
      span.letters Pp
      i#ef7-computer-mouse43.ef7-computer-mouse43
    span.step.size-48
      span.letters Pp
      i#ef7-computer-mouse43.ef7-computer-mouse43
    span.step.size-60
      span.letters Pp
      i#ef7-computer-mouse43.ef7-computer-mouse43
    span.step.size-72
      span.letters Pp
      i#ef7-computer-mouse43.ef7-computer-mouse43
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-computer-mouse43" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf104;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-computer-screen59.ef7-computer-screen59
    span.step.size-14
      span.letters Pp
      i#ef7-computer-screen59.ef7-computer-screen59
    span.step.size-16
      span.letters Pp
      i#ef7-computer-screen59.ef7-computer-screen59
    span.step.size-18
      span.letters Pp
      i#ef7-computer-screen59.ef7-computer-screen59
    span.step.size-21
      span.letters Pp
      i#ef7-computer-screen59.ef7-computer-screen59
    span.step.size-24
      span.letters Pp
      i#ef7-computer-screen59.ef7-computer-screen59
    span.step.size-36
      span.letters Pp
      i#ef7-computer-screen59.ef7-computer-screen59
    span.step.size-48
      span.letters Pp
      i#ef7-computer-screen59.ef7-computer-screen59
    span.step.size-60
      span.letters Pp
      i#ef7-computer-screen59.ef7-computer-screen59
    span.step.size-72
      span.letters Pp
      i#ef7-computer-screen59.ef7-computer-screen59
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-computer-screen59" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf105;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-computer-screen60.ef7-computer-screen60
    span.step.size-14
      span.letters Pp
      i#ef7-computer-screen60.ef7-computer-screen60
    span.step.size-16
      span.letters Pp
      i#ef7-computer-screen60.ef7-computer-screen60
    span.step.size-18
      span.letters Pp
      i#ef7-computer-screen60.ef7-computer-screen60
    span.step.size-21
      span.letters Pp
      i#ef7-computer-screen60.ef7-computer-screen60
    span.step.size-24
      span.letters Pp
      i#ef7-computer-screen60.ef7-computer-screen60
    span.step.size-36
      span.letters Pp
      i#ef7-computer-screen60.ef7-computer-screen60
    span.step.size-48
      span.letters Pp
      i#ef7-computer-screen60.ef7-computer-screen60
    span.step.size-60
      span.letters Pp
      i#ef7-computer-screen60.ef7-computer-screen60
    span.step.size-72
      span.letters Pp
      i#ef7-computer-screen60.ef7-computer-screen60
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-computer-screen60" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf106;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-construction68.ef7-construction68
    span.step.size-14
      span.letters Pp
      i#ef7-construction68.ef7-construction68
    span.step.size-16
      span.letters Pp
      i#ef7-construction68.ef7-construction68
    span.step.size-18
      span.letters Pp
      i#ef7-construction68.ef7-construction68
    span.step.size-21
      span.letters Pp
      i#ef7-construction68.ef7-construction68
    span.step.size-24
      span.letters Pp
      i#ef7-construction68.ef7-construction68
    span.step.size-36
      span.letters Pp
      i#ef7-construction68.ef7-construction68
    span.step.size-48
      span.letters Pp
      i#ef7-construction68.ef7-construction68
    span.step.size-60
      span.letters Pp
      i#ef7-construction68.ef7-construction68
    span.step.size-72
      span.letters Pp
      i#ef7-construction68.ef7-construction68
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-construction68" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf107;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-email165.ef7-email165
    span.step.size-14
      span.letters Pp
      i#ef7-email165.ef7-email165
    span.step.size-16
      span.letters Pp
      i#ef7-email165.ef7-email165
    span.step.size-18
      span.letters Pp
      i#ef7-email165.ef7-email165
    span.step.size-21
      span.letters Pp
      i#ef7-email165.ef7-email165
    span.step.size-24
      span.letters Pp
      i#ef7-email165.ef7-email165
    span.step.size-36
      span.letters Pp
      i#ef7-email165.ef7-email165
    span.step.size-48
      span.letters Pp
      i#ef7-email165.ef7-email165
    span.step.size-60
      span.letters Pp
      i#ef7-email165.ef7-email165
    span.step.size-72
      span.letters Pp
      i#ef7-email165.ef7-email165
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-email165" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf108;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-help32.ef7-help32
    span.step.size-14
      span.letters Pp
      i#ef7-help32.ef7-help32
    span.step.size-16
      span.letters Pp
      i#ef7-help32.ef7-help32
    span.step.size-18
      span.letters Pp
      i#ef7-help32.ef7-help32
    span.step.size-21
      span.letters Pp
      i#ef7-help32.ef7-help32
    span.step.size-24
      span.letters Pp
      i#ef7-help32.ef7-help32
    span.step.size-36
      span.letters Pp
      i#ef7-help32.ef7-help32
    span.step.size-48
      span.letters Pp
      i#ef7-help32.ef7-help32
    span.step.size-60
      span.letters Pp
      i#ef7-help32.ef7-help32
    span.step.size-72
      span.letters Pp
      i#ef7-help32.ef7-help32
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-help32" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf109;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-house266.ef7-house266
    span.step.size-14
      span.letters Pp
      i#ef7-house266.ef7-house266
    span.step.size-16
      span.letters Pp
      i#ef7-house266.ef7-house266
    span.step.size-18
      span.letters Pp
      i#ef7-house266.ef7-house266
    span.step.size-21
      span.letters Pp
      i#ef7-house266.ef7-house266
    span.step.size-24
      span.letters Pp
      i#ef7-house266.ef7-house266
    span.step.size-36
      span.letters Pp
      i#ef7-house266.ef7-house266
    span.step.size-48
      span.letters Pp
      i#ef7-house266.ef7-house266
    span.step.size-60
      span.letters Pp
      i#ef7-house266.ef7-house266
    span.step.size-72
      span.letters Pp
      i#ef7-house266.ef7-house266
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-house266" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-info43.ef7-info43
    span.step.size-14
      span.letters Pp
      i#ef7-info43.ef7-info43
    span.step.size-16
      span.letters Pp
      i#ef7-info43.ef7-info43
    span.step.size-18
      span.letters Pp
      i#ef7-info43.ef7-info43
    span.step.size-21
      span.letters Pp
      i#ef7-info43.ef7-info43
    span.step.size-24
      span.letters Pp
      i#ef7-info43.ef7-info43
    span.step.size-36
      span.letters Pp
      i#ef7-info43.ef7-info43
    span.step.size-48
      span.letters Pp
      i#ef7-info43.ef7-info43
    span.step.size-60
      span.letters Pp
      i#ef7-info43.ef7-info43
    span.step.size-72
      span.letters Pp
      i#ef7-info43.ef7-info43
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-info43" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-key209.ef7-key209
    span.step.size-14
      span.letters Pp
      i#ef7-key209.ef7-key209
    span.step.size-16
      span.letters Pp
      i#ef7-key209.ef7-key209
    span.step.size-18
      span.letters Pp
      i#ef7-key209.ef7-key209
    span.step.size-21
      span.letters Pp
      i#ef7-key209.ef7-key209
    span.step.size-24
      span.letters Pp
      i#ef7-key209.ef7-key209
    span.step.size-36
      span.letters Pp
      i#ef7-key209.ef7-key209
    span.step.size-48
      span.letters Pp
      i#ef7-key209.ef7-key209
    span.step.size-60
      span.letters Pp
      i#ef7-key209.ef7-key209
    span.step.size-72
      span.letters Pp
      i#ef7-key209.ef7-key209
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-key209" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-laptop-computer39.ef7-laptop-computer39
    span.step.size-14
      span.letters Pp
      i#ef7-laptop-computer39.ef7-laptop-computer39
    span.step.size-16
      span.letters Pp
      i#ef7-laptop-computer39.ef7-laptop-computer39
    span.step.size-18
      span.letters Pp
      i#ef7-laptop-computer39.ef7-laptop-computer39
    span.step.size-21
      span.letters Pp
      i#ef7-laptop-computer39.ef7-laptop-computer39
    span.step.size-24
      span.letters Pp
      i#ef7-laptop-computer39.ef7-laptop-computer39
    span.step.size-36
      span.letters Pp
      i#ef7-laptop-computer39.ef7-laptop-computer39
    span.step.size-48
      span.letters Pp
      i#ef7-laptop-computer39.ef7-laptop-computer39
    span.step.size-60
      span.letters Pp
      i#ef7-laptop-computer39.ef7-laptop-computer39
    span.step.size-72
      span.letters Pp
      i#ef7-laptop-computer39.ef7-laptop-computer39
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-laptop-computer39" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10d;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-linked12.ef7-linked12
    span.step.size-14
      span.letters Pp
      i#ef7-linked12.ef7-linked12
    span.step.size-16
      span.letters Pp
      i#ef7-linked12.ef7-linked12
    span.step.size-18
      span.letters Pp
      i#ef7-linked12.ef7-linked12
    span.step.size-21
      span.letters Pp
      i#ef7-linked12.ef7-linked12
    span.step.size-24
      span.letters Pp
      i#ef7-linked12.ef7-linked12
    span.step.size-36
      span.letters Pp
      i#ef7-linked12.ef7-linked12
    span.step.size-48
      span.letters Pp
      i#ef7-linked12.ef7-linked12
    span.step.size-60
      span.letters Pp
      i#ef7-linked12.ef7-linked12
    span.step.size-72
      span.letters Pp
      i#ef7-linked12.ef7-linked12
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-linked12" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10e;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-mobile-phone22.ef7-mobile-phone22
    span.step.size-14
      span.letters Pp
      i#ef7-mobile-phone22.ef7-mobile-phone22
    span.step.size-16
      span.letters Pp
      i#ef7-mobile-phone22.ef7-mobile-phone22
    span.step.size-18
      span.letters Pp
      i#ef7-mobile-phone22.ef7-mobile-phone22
    span.step.size-21
      span.letters Pp
      i#ef7-mobile-phone22.ef7-mobile-phone22
    span.step.size-24
      span.letters Pp
      i#ef7-mobile-phone22.ef7-mobile-phone22
    span.step.size-36
      span.letters Pp
      i#ef7-mobile-phone22.ef7-mobile-phone22
    span.step.size-48
      span.letters Pp
      i#ef7-mobile-phone22.ef7-mobile-phone22
    span.step.size-60
      span.letters Pp
      i#ef7-mobile-phone22.ef7-mobile-phone22
    span.step.size-72
      span.letters Pp
      i#ef7-mobile-phone22.ef7-mobile-phone22
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-mobile-phone22" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10f;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-newspaper24.ef7-newspaper24
    span.step.size-14
      span.letters Pp
      i#ef7-newspaper24.ef7-newspaper24
    span.step.size-16
      span.letters Pp
      i#ef7-newspaper24.ef7-newspaper24
    span.step.size-18
      span.letters Pp
      i#ef7-newspaper24.ef7-newspaper24
    span.step.size-21
      span.letters Pp
      i#ef7-newspaper24.ef7-newspaper24
    span.step.size-24
      span.letters Pp
      i#ef7-newspaper24.ef7-newspaper24
    span.step.size-36
      span.letters Pp
      i#ef7-newspaper24.ef7-newspaper24
    span.step.size-48
      span.letters Pp
      i#ef7-newspaper24.ef7-newspaper24
    span.step.size-60
      span.letters Pp
      i#ef7-newspaper24.ef7-newspaper24
    span.step.size-72
      span.letters Pp
      i#ef7-newspaper24.ef7-newspaper24
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-newspaper24" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf110;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-notebook118.ef7-notebook118
    span.step.size-14
      span.letters Pp
      i#ef7-notebook118.ef7-notebook118
    span.step.size-16
      span.letters Pp
      i#ef7-notebook118.ef7-notebook118
    span.step.size-18
      span.letters Pp
      i#ef7-notebook118.ef7-notebook118
    span.step.size-21
      span.letters Pp
      i#ef7-notebook118.ef7-notebook118
    span.step.size-24
      span.letters Pp
      i#ef7-notebook118.ef7-notebook118
    span.step.size-36
      span.letters Pp
      i#ef7-notebook118.ef7-notebook118
    span.step.size-48
      span.letters Pp
      i#ef7-notebook118.ef7-notebook118
    span.step.size-60
      span.letters Pp
      i#ef7-notebook118.ef7-notebook118
    span.step.size-72
      span.letters Pp
      i#ef7-notebook118.ef7-notebook118
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-notebook118" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf111;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-phone-receiver13.ef7-phone-receiver13
    span.step.size-14
      span.letters Pp
      i#ef7-phone-receiver13.ef7-phone-receiver13
    span.step.size-16
      span.letters Pp
      i#ef7-phone-receiver13.ef7-phone-receiver13
    span.step.size-18
      span.letters Pp
      i#ef7-phone-receiver13.ef7-phone-receiver13
    span.step.size-21
      span.letters Pp
      i#ef7-phone-receiver13.ef7-phone-receiver13
    span.step.size-24
      span.letters Pp
      i#ef7-phone-receiver13.ef7-phone-receiver13
    span.step.size-36
      span.letters Pp
      i#ef7-phone-receiver13.ef7-phone-receiver13
    span.step.size-48
      span.letters Pp
      i#ef7-phone-receiver13.ef7-phone-receiver13
    span.step.size-60
      span.letters Pp
      i#ef7-phone-receiver13.ef7-phone-receiver13
    span.step.size-72
      span.letters Pp
      i#ef7-phone-receiver13.ef7-phone-receiver13
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-phone-receiver13" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf112;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-placeholder56.ef7-placeholder56
    span.step.size-14
      span.letters Pp
      i#ef7-placeholder56.ef7-placeholder56
    span.step.size-16
      span.letters Pp
      i#ef7-placeholder56.ef7-placeholder56
    span.step.size-18
      span.letters Pp
      i#ef7-placeholder56.ef7-placeholder56
    span.step.size-21
      span.letters Pp
      i#ef7-placeholder56.ef7-placeholder56
    span.step.size-24
      span.letters Pp
      i#ef7-placeholder56.ef7-placeholder56
    span.step.size-36
      span.letters Pp
      i#ef7-placeholder56.ef7-placeholder56
    span.step.size-48
      span.letters Pp
      i#ef7-placeholder56.ef7-placeholder56
    span.step.size-60
      span.letters Pp
      i#ef7-placeholder56.ef7-placeholder56
    span.step.size-72
      span.letters Pp
      i#ef7-placeholder56.ef7-placeholder56
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-placeholder56" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf113;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-question15.ef7-question15
    span.step.size-14
      span.letters Pp
      i#ef7-question15.ef7-question15
    span.step.size-16
      span.letters Pp
      i#ef7-question15.ef7-question15
    span.step.size-18
      span.letters Pp
      i#ef7-question15.ef7-question15
    span.step.size-21
      span.letters Pp
      i#ef7-question15.ef7-question15
    span.step.size-24
      span.letters Pp
      i#ef7-question15.ef7-question15
    span.step.size-36
      span.letters Pp
      i#ef7-question15.ef7-question15
    span.step.size-48
      span.letters Pp
      i#ef7-question15.ef7-question15
    span.step.size-60
      span.letters Pp
      i#ef7-question15.ef7-question15
    span.step.size-72
      span.letters Pp
      i#ef7-question15.ef7-question15
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-question15" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf114;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-round-clock3.ef7-round-clock3
    span.step.size-14
      span.letters Pp
      i#ef7-round-clock3.ef7-round-clock3
    span.step.size-16
      span.letters Pp
      i#ef7-round-clock3.ef7-round-clock3
    span.step.size-18
      span.letters Pp
      i#ef7-round-clock3.ef7-round-clock3
    span.step.size-21
      span.letters Pp
      i#ef7-round-clock3.ef7-round-clock3
    span.step.size-24
      span.letters Pp
      i#ef7-round-clock3.ef7-round-clock3
    span.step.size-36
      span.letters Pp
      i#ef7-round-clock3.ef7-round-clock3
    span.step.size-48
      span.letters Pp
      i#ef7-round-clock3.ef7-round-clock3
    span.step.size-60
      span.letters Pp
      i#ef7-round-clock3.ef7-round-clock3
    span.step.size-72
      span.letters Pp
      i#ef7-round-clock3.ef7-round-clock3
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-round-clock3" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf115;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-smartphone202.ef7-smartphone202
    span.step.size-14
      span.letters Pp
      i#ef7-smartphone202.ef7-smartphone202
    span.step.size-16
      span.letters Pp
      i#ef7-smartphone202.ef7-smartphone202
    span.step.size-18
      span.letters Pp
      i#ef7-smartphone202.ef7-smartphone202
    span.step.size-21
      span.letters Pp
      i#ef7-smartphone202.ef7-smartphone202
    span.step.size-24
      span.letters Pp
      i#ef7-smartphone202.ef7-smartphone202
    span.step.size-36
      span.letters Pp
      i#ef7-smartphone202.ef7-smartphone202
    span.step.size-48
      span.letters Pp
      i#ef7-smartphone202.ef7-smartphone202
    span.step.size-60
      span.letters Pp
      i#ef7-smartphone202.ef7-smartphone202
    span.step.size-72
      span.letters Pp
      i#ef7-smartphone202.ef7-smartphone202
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-smartphone202" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf116;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-social-network280.ef7-social-network280
    span.step.size-14
      span.letters Pp
      i#ef7-social-network280.ef7-social-network280
    span.step.size-16
      span.letters Pp
      i#ef7-social-network280.ef7-social-network280
    span.step.size-18
      span.letters Pp
      i#ef7-social-network280.ef7-social-network280
    span.step.size-21
      span.letters Pp
      i#ef7-social-network280.ef7-social-network280
    span.step.size-24
      span.letters Pp
      i#ef7-social-network280.ef7-social-network280
    span.step.size-36
      span.letters Pp
      i#ef7-social-network280.ef7-social-network280
    span.step.size-48
      span.letters Pp
      i#ef7-social-network280.ef7-social-network280
    span.step.size-60
      span.letters Pp
      i#ef7-social-network280.ef7-social-network280
    span.step.size-72
      span.letters Pp
      i#ef7-social-network280.ef7-social-network280
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-social-network280" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf117;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-speech-bubble84.ef7-speech-bubble84
    span.step.size-14
      span.letters Pp
      i#ef7-speech-bubble84.ef7-speech-bubble84
    span.step.size-16
      span.letters Pp
      i#ef7-speech-bubble84.ef7-speech-bubble84
    span.step.size-18
      span.letters Pp
      i#ef7-speech-bubble84.ef7-speech-bubble84
    span.step.size-21
      span.letters Pp
      i#ef7-speech-bubble84.ef7-speech-bubble84
    span.step.size-24
      span.letters Pp
      i#ef7-speech-bubble84.ef7-speech-bubble84
    span.step.size-36
      span.letters Pp
      i#ef7-speech-bubble84.ef7-speech-bubble84
    span.step.size-48
      span.letters Pp
      i#ef7-speech-bubble84.ef7-speech-bubble84
    span.step.size-60
      span.letters Pp
      i#ef7-speech-bubble84.ef7-speech-bubble84
    span.step.size-72
      span.letters Pp
      i#ef7-speech-bubble84.ef7-speech-bubble84
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-speech-bubble84" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf118;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-telephone268.ef7-telephone268
    span.step.size-14
      span.letters Pp
      i#ef7-telephone268.ef7-telephone268
    span.step.size-16
      span.letters Pp
      i#ef7-telephone268.ef7-telephone268
    span.step.size-18
      span.letters Pp
      i#ef7-telephone268.ef7-telephone268
    span.step.size-21
      span.letters Pp
      i#ef7-telephone268.ef7-telephone268
    span.step.size-24
      span.letters Pp
      i#ef7-telephone268.ef7-telephone268
    span.step.size-36
      span.letters Pp
      i#ef7-telephone268.ef7-telephone268
    span.step.size-48
      span.letters Pp
      i#ef7-telephone268.ef7-telephone268
    span.step.size-60
      span.letters Pp
      i#ef7-telephone268.ef7-telephone268
    span.step.size-72
      span.letters Pp
      i#ef7-telephone268.ef7-telephone268
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-telephone268" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf119;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-up-arrow111.ef7-up-arrow111
    span.step.size-14
      span.letters Pp
      i#ef7-up-arrow111.ef7-up-arrow111
    span.step.size-16
      span.letters Pp
      i#ef7-up-arrow111.ef7-up-arrow111
    span.step.size-18
      span.letters Pp
      i#ef7-up-arrow111.ef7-up-arrow111
    span.step.size-21
      span.letters Pp
      i#ef7-up-arrow111.ef7-up-arrow111
    span.step.size-24
      span.letters Pp
      i#ef7-up-arrow111.ef7-up-arrow111
    span.step.size-36
      span.letters Pp
      i#ef7-up-arrow111.ef7-up-arrow111
    span.step.size-48
      span.letters Pp
      i#ef7-up-arrow111.ef7-up-arrow111
    span.step.size-60
      span.letters Pp
      i#ef7-up-arrow111.ef7-up-arrow111
    span.step.size-72
      span.letters Pp
      i#ef7-up-arrow111.ef7-up-arrow111
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-up-arrow111" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-website39.ef7-website39
    span.step.size-14
      span.letters Pp
      i#ef7-website39.ef7-website39
    span.step.size-16
      span.letters Pp
      i#ef7-website39.ef7-website39
    span.step.size-18
      span.letters Pp
      i#ef7-website39.ef7-website39
    span.step.size-21
      span.letters Pp
      i#ef7-website39.ef7-website39
    span.step.size-24
      span.letters Pp
      i#ef7-website39.ef7-website39
    span.step.size-36
      span.letters Pp
      i#ef7-website39.ef7-website39
    span.step.size-48
      span.letters Pp
      i#ef7-website39.ef7-website39
    span.step.size-60
      span.letters Pp
      i#ef7-website39.ef7-website39
    span.step.size-72
      span.letters Pp
      i#ef7-website39.ef7-website39
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-website39" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-wifi-signal11.ef7-wifi-signal11
    span.step.size-14
      span.letters Pp
      i#ef7-wifi-signal11.ef7-wifi-signal11
    span.step.size-16
      span.letters Pp
      i#ef7-wifi-signal11.ef7-wifi-signal11
    span.step.size-18
      span.letters Pp
      i#ef7-wifi-signal11.ef7-wifi-signal11
    span.step.size-21
      span.letters Pp
      i#ef7-wifi-signal11.ef7-wifi-signal11
    span.step.size-24
      span.letters Pp
      i#ef7-wifi-signal11.ef7-wifi-signal11
    span.step.size-36
      span.letters Pp
      i#ef7-wifi-signal11.ef7-wifi-signal11
    span.step.size-48
      span.letters Pp
      i#ef7-wifi-signal11.ef7-wifi-signal11
    span.step.size-60
      span.letters Pp
      i#ef7-wifi-signal11.ef7-wifi-signal11
    span.step.size-72
      span.letters Pp
      i#ef7-wifi-signal11.ef7-wifi-signal11
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-wifi-signal11" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef7-worldwide.ef7-worldwide
    span.step.size-14
      span.letters Pp
      i#ef7-worldwide.ef7-worldwide
    span.step.size-16
      span.letters Pp
      i#ef7-worldwide.ef7-worldwide
    span.step.size-18
      span.letters Pp
      i#ef7-worldwide.ef7-worldwide
    span.step.size-21
      span.letters Pp
      i#ef7-worldwide.ef7-worldwide
    span.step.size-24
      span.letters Pp
      i#ef7-worldwide.ef7-worldwide
    span.step.size-36
      span.letters Pp
      i#ef7-worldwide.ef7-worldwide
    span.step.size-48
      span.letters Pp
      i#ef7-worldwide.ef7-worldwide
    span.step.size-60
      span.letters Pp
      i#ef7-worldwide.ef7-worldwide
    span.step.size-72
      span.letters Pp
      i#ef7-worldwide.ef7-worldwide
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef7-worldwide" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11d;" /
