header
  h1 ei-font-8 contains 50 glyphs:
  a href="#" onclick=("toggleCharacters(); return false;")  Toggle Preview Characters
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-building147.ef8-building147
    span.step.size-14
      span.letters Pp
      i#ef8-building147.ef8-building147
    span.step.size-16
      span.letters Pp
      i#ef8-building147.ef8-building147
    span.step.size-18
      span.letters Pp
      i#ef8-building147.ef8-building147
    span.step.size-21
      span.letters Pp
      i#ef8-building147.ef8-building147
    span.step.size-24
      span.letters Pp
      i#ef8-building147.ef8-building147
    span.step.size-36
      span.letters Pp
      i#ef8-building147.ef8-building147
    span.step.size-48
      span.letters Pp
      i#ef8-building147.ef8-building147
    span.step.size-60
      span.letters Pp
      i#ef8-building147.ef8-building147
    span.step.size-72
      span.letters Pp
      i#ef8-building147.ef8-building147
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-building147" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf100;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-building148.ef8-building148
    span.step.size-14
      span.letters Pp
      i#ef8-building148.ef8-building148
    span.step.size-16
      span.letters Pp
      i#ef8-building148.ef8-building148
    span.step.size-18
      span.letters Pp
      i#ef8-building148.ef8-building148
    span.step.size-21
      span.letters Pp
      i#ef8-building148.ef8-building148
    span.step.size-24
      span.letters Pp
      i#ef8-building148.ef8-building148
    span.step.size-36
      span.letters Pp
      i#ef8-building148.ef8-building148
    span.step.size-48
      span.letters Pp
      i#ef8-building148.ef8-building148
    span.step.size-60
      span.letters Pp
      i#ef8-building148.ef8-building148
    span.step.size-72
      span.letters Pp
      i#ef8-building148.ef8-building148
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-building148" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf101;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-building149.ef8-building149
    span.step.size-14
      span.letters Pp
      i#ef8-building149.ef8-building149
    span.step.size-16
      span.letters Pp
      i#ef8-building149.ef8-building149
    span.step.size-18
      span.letters Pp
      i#ef8-building149.ef8-building149
    span.step.size-21
      span.letters Pp
      i#ef8-building149.ef8-building149
    span.step.size-24
      span.letters Pp
      i#ef8-building149.ef8-building149
    span.step.size-36
      span.letters Pp
      i#ef8-building149.ef8-building149
    span.step.size-48
      span.letters Pp
      i#ef8-building149.ef8-building149
    span.step.size-60
      span.letters Pp
      i#ef8-building149.ef8-building149
    span.step.size-72
      span.letters Pp
      i#ef8-building149.ef8-building149
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-building149" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf102;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-building150.ef8-building150
    span.step.size-14
      span.letters Pp
      i#ef8-building150.ef8-building150
    span.step.size-16
      span.letters Pp
      i#ef8-building150.ef8-building150
    span.step.size-18
      span.letters Pp
      i#ef8-building150.ef8-building150
    span.step.size-21
      span.letters Pp
      i#ef8-building150.ef8-building150
    span.step.size-24
      span.letters Pp
      i#ef8-building150.ef8-building150
    span.step.size-36
      span.letters Pp
      i#ef8-building150.ef8-building150
    span.step.size-48
      span.letters Pp
      i#ef8-building150.ef8-building150
    span.step.size-60
      span.letters Pp
      i#ef8-building150.ef8-building150
    span.step.size-72
      span.letters Pp
      i#ef8-building150.ef8-building150
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-building150" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf103;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-building151.ef8-building151
    span.step.size-14
      span.letters Pp
      i#ef8-building151.ef8-building151
    span.step.size-16
      span.letters Pp
      i#ef8-building151.ef8-building151
    span.step.size-18
      span.letters Pp
      i#ef8-building151.ef8-building151
    span.step.size-21
      span.letters Pp
      i#ef8-building151.ef8-building151
    span.step.size-24
      span.letters Pp
      i#ef8-building151.ef8-building151
    span.step.size-36
      span.letters Pp
      i#ef8-building151.ef8-building151
    span.step.size-48
      span.letters Pp
      i#ef8-building151.ef8-building151
    span.step.size-60
      span.letters Pp
      i#ef8-building151.ef8-building151
    span.step.size-72
      span.letters Pp
      i#ef8-building151.ef8-building151
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-building151" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf104;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-city1.ef8-city1
    span.step.size-14
      span.letters Pp
      i#ef8-city1.ef8-city1
    span.step.size-16
      span.letters Pp
      i#ef8-city1.ef8-city1
    span.step.size-18
      span.letters Pp
      i#ef8-city1.ef8-city1
    span.step.size-21
      span.letters Pp
      i#ef8-city1.ef8-city1
    span.step.size-24
      span.letters Pp
      i#ef8-city1.ef8-city1
    span.step.size-36
      span.letters Pp
      i#ef8-city1.ef8-city1
    span.step.size-48
      span.letters Pp
      i#ef8-city1.ef8-city1
    span.step.size-60
      span.letters Pp
      i#ef8-city1.ef8-city1
    span.step.size-72
      span.letters Pp
      i#ef8-city1.ef8-city1
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-city1" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf105;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-city4.ef8-city4
    span.step.size-14
      span.letters Pp
      i#ef8-city4.ef8-city4
    span.step.size-16
      span.letters Pp
      i#ef8-city4.ef8-city4
    span.step.size-18
      span.letters Pp
      i#ef8-city4.ef8-city4
    span.step.size-21
      span.letters Pp
      i#ef8-city4.ef8-city4
    span.step.size-24
      span.letters Pp
      i#ef8-city4.ef8-city4
    span.step.size-36
      span.letters Pp
      i#ef8-city4.ef8-city4
    span.step.size-48
      span.letters Pp
      i#ef8-city4.ef8-city4
    span.step.size-60
      span.letters Pp
      i#ef8-city4.ef8-city4
    span.step.size-72
      span.letters Pp
      i#ef8-city4.ef8-city4
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-city4" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf106;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-coffee-shop37.ef8-coffee-shop37
    span.step.size-14
      span.letters Pp
      i#ef8-coffee-shop37.ef8-coffee-shop37
    span.step.size-16
      span.letters Pp
      i#ef8-coffee-shop37.ef8-coffee-shop37
    span.step.size-18
      span.letters Pp
      i#ef8-coffee-shop37.ef8-coffee-shop37
    span.step.size-21
      span.letters Pp
      i#ef8-coffee-shop37.ef8-coffee-shop37
    span.step.size-24
      span.letters Pp
      i#ef8-coffee-shop37.ef8-coffee-shop37
    span.step.size-36
      span.letters Pp
      i#ef8-coffee-shop37.ef8-coffee-shop37
    span.step.size-48
      span.letters Pp
      i#ef8-coffee-shop37.ef8-coffee-shop37
    span.step.size-60
      span.letters Pp
      i#ef8-coffee-shop37.ef8-coffee-shop37
    span.step.size-72
      span.letters Pp
      i#ef8-coffee-shop37.ef8-coffee-shop37
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-coffee-shop37" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf107;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-connection89.ef8-connection89
    span.step.size-14
      span.letters Pp
      i#ef8-connection89.ef8-connection89
    span.step.size-16
      span.letters Pp
      i#ef8-connection89.ef8-connection89
    span.step.size-18
      span.letters Pp
      i#ef8-connection89.ef8-connection89
    span.step.size-21
      span.letters Pp
      i#ef8-connection89.ef8-connection89
    span.step.size-24
      span.letters Pp
      i#ef8-connection89.ef8-connection89
    span.step.size-36
      span.letters Pp
      i#ef8-connection89.ef8-connection89
    span.step.size-48
      span.letters Pp
      i#ef8-connection89.ef8-connection89
    span.step.size-60
      span.letters Pp
      i#ef8-connection89.ef8-connection89
    span.step.size-72
      span.letters Pp
      i#ef8-connection89.ef8-connection89
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-connection89" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf108;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-construction69.ef8-construction69
    span.step.size-14
      span.letters Pp
      i#ef8-construction69.ef8-construction69
    span.step.size-16
      span.letters Pp
      i#ef8-construction69.ef8-construction69
    span.step.size-18
      span.letters Pp
      i#ef8-construction69.ef8-construction69
    span.step.size-21
      span.letters Pp
      i#ef8-construction69.ef8-construction69
    span.step.size-24
      span.letters Pp
      i#ef8-construction69.ef8-construction69
    span.step.size-36
      span.letters Pp
      i#ef8-construction69.ef8-construction69
    span.step.size-48
      span.letters Pp
      i#ef8-construction69.ef8-construction69
    span.step.size-60
      span.letters Pp
      i#ef8-construction69.ef8-construction69
    span.step.size-72
      span.letters Pp
      i#ef8-construction69.ef8-construction69
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-construction69" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf109;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-construction70.ef8-construction70
    span.step.size-14
      span.letters Pp
      i#ef8-construction70.ef8-construction70
    span.step.size-16
      span.letters Pp
      i#ef8-construction70.ef8-construction70
    span.step.size-18
      span.letters Pp
      i#ef8-construction70.ef8-construction70
    span.step.size-21
      span.letters Pp
      i#ef8-construction70.ef8-construction70
    span.step.size-24
      span.letters Pp
      i#ef8-construction70.ef8-construction70
    span.step.size-36
      span.letters Pp
      i#ef8-construction70.ef8-construction70
    span.step.size-48
      span.letters Pp
      i#ef8-construction70.ef8-construction70
    span.step.size-60
      span.letters Pp
      i#ef8-construction70.ef8-construction70
    span.step.size-72
      span.letters Pp
      i#ef8-construction70.ef8-construction70
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-construction70" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-construction71.ef8-construction71
    span.step.size-14
      span.letters Pp
      i#ef8-construction71.ef8-construction71
    span.step.size-16
      span.letters Pp
      i#ef8-construction71.ef8-construction71
    span.step.size-18
      span.letters Pp
      i#ef8-construction71.ef8-construction71
    span.step.size-21
      span.letters Pp
      i#ef8-construction71.ef8-construction71
    span.step.size-24
      span.letters Pp
      i#ef8-construction71.ef8-construction71
    span.step.size-36
      span.letters Pp
      i#ef8-construction71.ef8-construction71
    span.step.size-48
      span.letters Pp
      i#ef8-construction71.ef8-construction71
    span.step.size-60
      span.letters Pp
      i#ef8-construction71.ef8-construction71
    span.step.size-72
      span.letters Pp
      i#ef8-construction71.ef8-construction71
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-construction71" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-constructions8.ef8-constructions8
    span.step.size-14
      span.letters Pp
      i#ef8-constructions8.ef8-constructions8
    span.step.size-16
      span.letters Pp
      i#ef8-constructions8.ef8-constructions8
    span.step.size-18
      span.letters Pp
      i#ef8-constructions8.ef8-constructions8
    span.step.size-21
      span.letters Pp
      i#ef8-constructions8.ef8-constructions8
    span.step.size-24
      span.letters Pp
      i#ef8-constructions8.ef8-constructions8
    span.step.size-36
      span.letters Pp
      i#ef8-constructions8.ef8-constructions8
    span.step.size-48
      span.letters Pp
      i#ef8-constructions8.ef8-constructions8
    span.step.size-60
      span.letters Pp
      i#ef8-constructions8.ef8-constructions8
    span.step.size-72
      span.letters Pp
      i#ef8-constructions8.ef8-constructions8
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-constructions8" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-direction173.ef8-direction173
    span.step.size-14
      span.letters Pp
      i#ef8-direction173.ef8-direction173
    span.step.size-16
      span.letters Pp
      i#ef8-direction173.ef8-direction173
    span.step.size-18
      span.letters Pp
      i#ef8-direction173.ef8-direction173
    span.step.size-21
      span.letters Pp
      i#ef8-direction173.ef8-direction173
    span.step.size-24
      span.letters Pp
      i#ef8-direction173.ef8-direction173
    span.step.size-36
      span.letters Pp
      i#ef8-direction173.ef8-direction173
    span.step.size-48
      span.letters Pp
      i#ef8-direction173.ef8-direction173
    span.step.size-60
      span.letters Pp
      i#ef8-direction173.ef8-direction173
    span.step.size-72
      span.letters Pp
      i#ef8-direction173.ef8-direction173
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-direction173" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10d;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-electricity13.ef8-electricity13
    span.step.size-14
      span.letters Pp
      i#ef8-electricity13.ef8-electricity13
    span.step.size-16
      span.letters Pp
      i#ef8-electricity13.ef8-electricity13
    span.step.size-18
      span.letters Pp
      i#ef8-electricity13.ef8-electricity13
    span.step.size-21
      span.letters Pp
      i#ef8-electricity13.ef8-electricity13
    span.step.size-24
      span.letters Pp
      i#ef8-electricity13.ef8-electricity13
    span.step.size-36
      span.letters Pp
      i#ef8-electricity13.ef8-electricity13
    span.step.size-48
      span.letters Pp
      i#ef8-electricity13.ef8-electricity13
    span.step.size-60
      span.letters Pp
      i#ef8-electricity13.ef8-electricity13
    span.step.size-72
      span.letters Pp
      i#ef8-electricity13.ef8-electricity13
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-electricity13" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10e;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-fair15.ef8-fair15
    span.step.size-14
      span.letters Pp
      i#ef8-fair15.ef8-fair15
    span.step.size-16
      span.letters Pp
      i#ef8-fair15.ef8-fair15
    span.step.size-18
      span.letters Pp
      i#ef8-fair15.ef8-fair15
    span.step.size-21
      span.letters Pp
      i#ef8-fair15.ef8-fair15
    span.step.size-24
      span.letters Pp
      i#ef8-fair15.ef8-fair15
    span.step.size-36
      span.letters Pp
      i#ef8-fair15.ef8-fair15
    span.step.size-48
      span.letters Pp
      i#ef8-fair15.ef8-fair15
    span.step.size-60
      span.letters Pp
      i#ef8-fair15.ef8-fair15
    span.step.size-72
      span.letters Pp
      i#ef8-fair15.ef8-fair15
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-fair15" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf10f;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-fair16.ef8-fair16
    span.step.size-14
      span.letters Pp
      i#ef8-fair16.ef8-fair16
    span.step.size-16
      span.letters Pp
      i#ef8-fair16.ef8-fair16
    span.step.size-18
      span.letters Pp
      i#ef8-fair16.ef8-fair16
    span.step.size-21
      span.letters Pp
      i#ef8-fair16.ef8-fair16
    span.step.size-24
      span.letters Pp
      i#ef8-fair16.ef8-fair16
    span.step.size-36
      span.letters Pp
      i#ef8-fair16.ef8-fair16
    span.step.size-48
      span.letters Pp
      i#ef8-fair16.ef8-fair16
    span.step.size-60
      span.letters Pp
      i#ef8-fair16.ef8-fair16
    span.step.size-72
      span.letters Pp
      i#ef8-fair16.ef8-fair16
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-fair16" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf110;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-fast-food13.ef8-fast-food13
    span.step.size-14
      span.letters Pp
      i#ef8-fast-food13.ef8-fast-food13
    span.step.size-16
      span.letters Pp
      i#ef8-fast-food13.ef8-fast-food13
    span.step.size-18
      span.letters Pp
      i#ef8-fast-food13.ef8-fast-food13
    span.step.size-21
      span.letters Pp
      i#ef8-fast-food13.ef8-fast-food13
    span.step.size-24
      span.letters Pp
      i#ef8-fast-food13.ef8-fast-food13
    span.step.size-36
      span.letters Pp
      i#ef8-fast-food13.ef8-fast-food13
    span.step.size-48
      span.letters Pp
      i#ef8-fast-food13.ef8-fast-food13
    span.step.size-60
      span.letters Pp
      i#ef8-fast-food13.ef8-fast-food13
    span.step.size-72
      span.letters Pp
      i#ef8-fast-food13.ef8-fast-food13
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-fast-food13" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf111;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-firefighter7.ef8-firefighter7
    span.step.size-14
      span.letters Pp
      i#ef8-firefighter7.ef8-firefighter7
    span.step.size-16
      span.letters Pp
      i#ef8-firefighter7.ef8-firefighter7
    span.step.size-18
      span.letters Pp
      i#ef8-firefighter7.ef8-firefighter7
    span.step.size-21
      span.letters Pp
      i#ef8-firefighter7.ef8-firefighter7
    span.step.size-24
      span.letters Pp
      i#ef8-firefighter7.ef8-firefighter7
    span.step.size-36
      span.letters Pp
      i#ef8-firefighter7.ef8-firefighter7
    span.step.size-48
      span.letters Pp
      i#ef8-firefighter7.ef8-firefighter7
    span.step.size-60
      span.letters Pp
      i#ef8-firefighter7.ef8-firefighter7
    span.step.size-72
      span.letters Pp
      i#ef8-firefighter7.ef8-firefighter7
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-firefighter7" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf112;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-health-clinic12.ef8-health-clinic12
    span.step.size-14
      span.letters Pp
      i#ef8-health-clinic12.ef8-health-clinic12
    span.step.size-16
      span.letters Pp
      i#ef8-health-clinic12.ef8-health-clinic12
    span.step.size-18
      span.letters Pp
      i#ef8-health-clinic12.ef8-health-clinic12
    span.step.size-21
      span.letters Pp
      i#ef8-health-clinic12.ef8-health-clinic12
    span.step.size-24
      span.letters Pp
      i#ef8-health-clinic12.ef8-health-clinic12
    span.step.size-36
      span.letters Pp
      i#ef8-health-clinic12.ef8-health-clinic12
    span.step.size-48
      span.letters Pp
      i#ef8-health-clinic12.ef8-health-clinic12
    span.step.size-60
      span.letters Pp
      i#ef8-health-clinic12.ef8-health-clinic12
    span.step.size-72
      span.letters Pp
      i#ef8-health-clinic12.ef8-health-clinic12
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-health-clinic12" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf113;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-industry17.ef8-industry17
    span.step.size-14
      span.letters Pp
      i#ef8-industry17.ef8-industry17
    span.step.size-16
      span.letters Pp
      i#ef8-industry17.ef8-industry17
    span.step.size-18
      span.letters Pp
      i#ef8-industry17.ef8-industry17
    span.step.size-21
      span.letters Pp
      i#ef8-industry17.ef8-industry17
    span.step.size-24
      span.letters Pp
      i#ef8-industry17.ef8-industry17
    span.step.size-36
      span.letters Pp
      i#ef8-industry17.ef8-industry17
    span.step.size-48
      span.letters Pp
      i#ef8-industry17.ef8-industry17
    span.step.size-60
      span.letters Pp
      i#ef8-industry17.ef8-industry17
    span.step.size-72
      span.letters Pp
      i#ef8-industry17.ef8-industry17
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-industry17" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf114;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-industry18.ef8-industry18
    span.step.size-14
      span.letters Pp
      i#ef8-industry18.ef8-industry18
    span.step.size-16
      span.letters Pp
      i#ef8-industry18.ef8-industry18
    span.step.size-18
      span.letters Pp
      i#ef8-industry18.ef8-industry18
    span.step.size-21
      span.letters Pp
      i#ef8-industry18.ef8-industry18
    span.step.size-24
      span.letters Pp
      i#ef8-industry18.ef8-industry18
    span.step.size-36
      span.letters Pp
      i#ef8-industry18.ef8-industry18
    span.step.size-48
      span.letters Pp
      i#ef8-industry18.ef8-industry18
    span.step.size-60
      span.letters Pp
      i#ef8-industry18.ef8-industry18
    span.step.size-72
      span.letters Pp
      i#ef8-industry18.ef8-industry18
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-industry18" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf115;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-lamp45.ef8-lamp45
    span.step.size-14
      span.letters Pp
      i#ef8-lamp45.ef8-lamp45
    span.step.size-16
      span.letters Pp
      i#ef8-lamp45.ef8-lamp45
    span.step.size-18
      span.letters Pp
      i#ef8-lamp45.ef8-lamp45
    span.step.size-21
      span.letters Pp
      i#ef8-lamp45.ef8-lamp45
    span.step.size-24
      span.letters Pp
      i#ef8-lamp45.ef8-lamp45
    span.step.size-36
      span.letters Pp
      i#ef8-lamp45.ef8-lamp45
    span.step.size-48
      span.letters Pp
      i#ef8-lamp45.ef8-lamp45
    span.step.size-60
      span.letters Pp
      i#ef8-lamp45.ef8-lamp45
    span.step.size-72
      span.letters Pp
      i#ef8-lamp45.ef8-lamp45
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-lamp45" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf116;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-lamp46.ef8-lamp46
    span.step.size-14
      span.letters Pp
      i#ef8-lamp46.ef8-lamp46
    span.step.size-16
      span.letters Pp
      i#ef8-lamp46.ef8-lamp46
    span.step.size-18
      span.letters Pp
      i#ef8-lamp46.ef8-lamp46
    span.step.size-21
      span.letters Pp
      i#ef8-lamp46.ef8-lamp46
    span.step.size-24
      span.letters Pp
      i#ef8-lamp46.ef8-lamp46
    span.step.size-36
      span.letters Pp
      i#ef8-lamp46.ef8-lamp46
    span.step.size-48
      span.letters Pp
      i#ef8-lamp46.ef8-lamp46
    span.step.size-60
      span.letters Pp
      i#ef8-lamp46.ef8-lamp46
    span.step.size-72
      span.letters Pp
      i#ef8-lamp46.ef8-lamp46
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-lamp46" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf117;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-lights30.ef8-lights30
    span.step.size-14
      span.letters Pp
      i#ef8-lights30.ef8-lights30
    span.step.size-16
      span.letters Pp
      i#ef8-lights30.ef8-lights30
    span.step.size-18
      span.letters Pp
      i#ef8-lights30.ef8-lights30
    span.step.size-21
      span.letters Pp
      i#ef8-lights30.ef8-lights30
    span.step.size-24
      span.letters Pp
      i#ef8-lights30.ef8-lights30
    span.step.size-36
      span.letters Pp
      i#ef8-lights30.ef8-lights30
    span.step.size-48
      span.letters Pp
      i#ef8-lights30.ef8-lights30
    span.step.size-60
      span.letters Pp
      i#ef8-lights30.ef8-lights30
    span.step.size-72
      span.letters Pp
      i#ef8-lights30.ef8-lights30
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-lights30" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf118;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-monument42.ef8-monument42
    span.step.size-14
      span.letters Pp
      i#ef8-monument42.ef8-monument42
    span.step.size-16
      span.letters Pp
      i#ef8-monument42.ef8-monument42
    span.step.size-18
      span.letters Pp
      i#ef8-monument42.ef8-monument42
    span.step.size-21
      span.letters Pp
      i#ef8-monument42.ef8-monument42
    span.step.size-24
      span.letters Pp
      i#ef8-monument42.ef8-monument42
    span.step.size-36
      span.letters Pp
      i#ef8-monument42.ef8-monument42
    span.step.size-48
      span.letters Pp
      i#ef8-monument42.ef8-monument42
    span.step.size-60
      span.letters Pp
      i#ef8-monument42.ef8-monument42
    span.step.size-72
      span.letters Pp
      i#ef8-monument42.ef8-monument42
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-monument42" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf119;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-news36.ef8-news36
    span.step.size-14
      span.letters Pp
      i#ef8-news36.ef8-news36
    span.step.size-16
      span.letters Pp
      i#ef8-news36.ef8-news36
    span.step.size-18
      span.letters Pp
      i#ef8-news36.ef8-news36
    span.step.size-21
      span.letters Pp
      i#ef8-news36.ef8-news36
    span.step.size-24
      span.letters Pp
      i#ef8-news36.ef8-news36
    span.step.size-36
      span.letters Pp
      i#ef8-news36.ef8-news36
    span.step.size-48
      span.letters Pp
      i#ef8-news36.ef8-news36
    span.step.size-60
      span.letters Pp
      i#ef8-news36.ef8-news36
    span.step.size-72
      span.letters Pp
      i#ef8-news36.ef8-news36
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-news36" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-office14.ef8-office14
    span.step.size-14
      span.letters Pp
      i#ef8-office14.ef8-office14
    span.step.size-16
      span.letters Pp
      i#ef8-office14.ef8-office14
    span.step.size-18
      span.letters Pp
      i#ef8-office14.ef8-office14
    span.step.size-21
      span.letters Pp
      i#ef8-office14.ef8-office14
    span.step.size-24
      span.letters Pp
      i#ef8-office14.ef8-office14
    span.step.size-36
      span.letters Pp
      i#ef8-office14.ef8-office14
    span.step.size-48
      span.letters Pp
      i#ef8-office14.ef8-office14
    span.step.size-60
      span.letters Pp
      i#ef8-office14.ef8-office14
    span.step.size-72
      span.letters Pp
      i#ef8-office14.ef8-office14
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-office14" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-policeman9.ef8-policeman9
    span.step.size-14
      span.letters Pp
      i#ef8-policeman9.ef8-policeman9
    span.step.size-16
      span.letters Pp
      i#ef8-policeman9.ef8-policeman9
    span.step.size-18
      span.letters Pp
      i#ef8-policeman9.ef8-policeman9
    span.step.size-21
      span.letters Pp
      i#ef8-policeman9.ef8-policeman9
    span.step.size-24
      span.letters Pp
      i#ef8-policeman9.ef8-policeman9
    span.step.size-36
      span.letters Pp
      i#ef8-policeman9.ef8-policeman9
    span.step.size-48
      span.letters Pp
      i#ef8-policeman9.ef8-policeman9
    span.step.size-60
      span.letters Pp
      i#ef8-policeman9.ef8-policeman9
    span.step.size-72
      span.letters Pp
      i#ef8-policeman9.ef8-policeman9
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-policeman9" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-political3.ef8-political3
    span.step.size-14
      span.letters Pp
      i#ef8-political3.ef8-political3
    span.step.size-16
      span.letters Pp
      i#ef8-political3.ef8-political3
    span.step.size-18
      span.letters Pp
      i#ef8-political3.ef8-political3
    span.step.size-21
      span.letters Pp
      i#ef8-political3.ef8-political3
    span.step.size-24
      span.letters Pp
      i#ef8-political3.ef8-political3
    span.step.size-36
      span.letters Pp
      i#ef8-political3.ef8-political3
    span.step.size-48
      span.letters Pp
      i#ef8-political3.ef8-political3
    span.step.size-60
      span.letters Pp
      i#ef8-political3.ef8-political3
    span.step.size-72
      span.letters Pp
      i#ef8-political3.ef8-political3
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-political3" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11d;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-public-transport5.ef8-public-transport5
    span.step.size-14
      span.letters Pp
      i#ef8-public-transport5.ef8-public-transport5
    span.step.size-16
      span.letters Pp
      i#ef8-public-transport5.ef8-public-transport5
    span.step.size-18
      span.letters Pp
      i#ef8-public-transport5.ef8-public-transport5
    span.step.size-21
      span.letters Pp
      i#ef8-public-transport5.ef8-public-transport5
    span.step.size-24
      span.letters Pp
      i#ef8-public-transport5.ef8-public-transport5
    span.step.size-36
      span.letters Pp
      i#ef8-public-transport5.ef8-public-transport5
    span.step.size-48
      span.letters Pp
      i#ef8-public-transport5.ef8-public-transport5
    span.step.size-60
      span.letters Pp
      i#ef8-public-transport5.ef8-public-transport5
    span.step.size-72
      span.letters Pp
      i#ef8-public-transport5.ef8-public-transport5
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-public-transport5" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11e;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-publicity1.ef8-publicity1
    span.step.size-14
      span.letters Pp
      i#ef8-publicity1.ef8-publicity1
    span.step.size-16
      span.letters Pp
      i#ef8-publicity1.ef8-publicity1
    span.step.size-18
      span.letters Pp
      i#ef8-publicity1.ef8-publicity1
    span.step.size-21
      span.letters Pp
      i#ef8-publicity1.ef8-publicity1
    span.step.size-24
      span.letters Pp
      i#ef8-publicity1.ef8-publicity1
    span.step.size-36
      span.letters Pp
      i#ef8-publicity1.ef8-publicity1
    span.step.size-48
      span.letters Pp
      i#ef8-publicity1.ef8-publicity1
    span.step.size-60
      span.letters Pp
      i#ef8-publicity1.ef8-publicity1
    span.step.size-72
      span.letters Pp
      i#ef8-publicity1.ef8-publicity1
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-publicity1" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf11f;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-real-estate9.ef8-real-estate9
    span.step.size-14
      span.letters Pp
      i#ef8-real-estate9.ef8-real-estate9
    span.step.size-16
      span.letters Pp
      i#ef8-real-estate9.ef8-real-estate9
    span.step.size-18
      span.letters Pp
      i#ef8-real-estate9.ef8-real-estate9
    span.step.size-21
      span.letters Pp
      i#ef8-real-estate9.ef8-real-estate9
    span.step.size-24
      span.letters Pp
      i#ef8-real-estate9.ef8-real-estate9
    span.step.size-36
      span.letters Pp
      i#ef8-real-estate9.ef8-real-estate9
    span.step.size-48
      span.letters Pp
      i#ef8-real-estate9.ef8-real-estate9
    span.step.size-60
      span.letters Pp
      i#ef8-real-estate9.ef8-real-estate9
    span.step.size-72
      span.letters Pp
      i#ef8-real-estate9.ef8-real-estate9
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-real-estate9" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf120;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-restaurant63.ef8-restaurant63
    span.step.size-14
      span.letters Pp
      i#ef8-restaurant63.ef8-restaurant63
    span.step.size-16
      span.letters Pp
      i#ef8-restaurant63.ef8-restaurant63
    span.step.size-18
      span.letters Pp
      i#ef8-restaurant63.ef8-restaurant63
    span.step.size-21
      span.letters Pp
      i#ef8-restaurant63.ef8-restaurant63
    span.step.size-24
      span.letters Pp
      i#ef8-restaurant63.ef8-restaurant63
    span.step.size-36
      span.letters Pp
      i#ef8-restaurant63.ef8-restaurant63
    span.step.size-48
      span.letters Pp
      i#ef8-restaurant63.ef8-restaurant63
    span.step.size-60
      span.letters Pp
      i#ef8-restaurant63.ef8-restaurant63
    span.step.size-72
      span.letters Pp
      i#ef8-restaurant63.ef8-restaurant63
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-restaurant63" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf121;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-road11.ef8-road11
    span.step.size-14
      span.letters Pp
      i#ef8-road11.ef8-road11
    span.step.size-16
      span.letters Pp
      i#ef8-road11.ef8-road11
    span.step.size-18
      span.letters Pp
      i#ef8-road11.ef8-road11
    span.step.size-21
      span.letters Pp
      i#ef8-road11.ef8-road11
    span.step.size-24
      span.letters Pp
      i#ef8-road11.ef8-road11
    span.step.size-36
      span.letters Pp
      i#ef8-road11.ef8-road11
    span.step.size-48
      span.letters Pp
      i#ef8-road11.ef8-road11
    span.step.size-60
      span.letters Pp
      i#ef8-road11.ef8-road11
    span.step.size-72
      span.letters Pp
      i#ef8-road11.ef8-road11
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-road11" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf122;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-roman3.ef8-roman3
    span.step.size-14
      span.letters Pp
      i#ef8-roman3.ef8-roman3
    span.step.size-16
      span.letters Pp
      i#ef8-roman3.ef8-roman3
    span.step.size-18
      span.letters Pp
      i#ef8-roman3.ef8-roman3
    span.step.size-21
      span.letters Pp
      i#ef8-roman3.ef8-roman3
    span.step.size-24
      span.letters Pp
      i#ef8-roman3.ef8-roman3
    span.step.size-36
      span.letters Pp
      i#ef8-roman3.ef8-roman3
    span.step.size-48
      span.letters Pp
      i#ef8-roman3.ef8-roman3
    span.step.size-60
      span.letters Pp
      i#ef8-roman3.ef8-roman3
    span.step.size-72
      span.letters Pp
      i#ef8-roman3.ef8-roman3
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-roman3" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf123;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-schools1.ef8-schools1
    span.step.size-14
      span.letters Pp
      i#ef8-schools1.ef8-schools1
    span.step.size-16
      span.letters Pp
      i#ef8-schools1.ef8-schools1
    span.step.size-18
      span.letters Pp
      i#ef8-schools1.ef8-schools1
    span.step.size-21
      span.letters Pp
      i#ef8-schools1.ef8-schools1
    span.step.size-24
      span.letters Pp
      i#ef8-schools1.ef8-schools1
    span.step.size-36
      span.letters Pp
      i#ef8-schools1.ef8-schools1
    span.step.size-48
      span.letters Pp
      i#ef8-schools1.ef8-schools1
    span.step.size-60
      span.letters Pp
      i#ef8-schools1.ef8-schools1
    span.step.size-72
      span.letters Pp
      i#ef8-schools1.ef8-schools1
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-schools1" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf124;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-seat27.ef8-seat27
    span.step.size-14
      span.letters Pp
      i#ef8-seat27.ef8-seat27
    span.step.size-16
      span.letters Pp
      i#ef8-seat27.ef8-seat27
    span.step.size-18
      span.letters Pp
      i#ef8-seat27.ef8-seat27
    span.step.size-21
      span.letters Pp
      i#ef8-seat27.ef8-seat27
    span.step.size-24
      span.letters Pp
      i#ef8-seat27.ef8-seat27
    span.step.size-36
      span.letters Pp
      i#ef8-seat27.ef8-seat27
    span.step.size-48
      span.letters Pp
      i#ef8-seat27.ef8-seat27
    span.step.size-60
      span.letters Pp
      i#ef8-seat27.ef8-seat27
    span.step.size-72
      span.letters Pp
      i#ef8-seat27.ef8-seat27
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-seat27" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf125;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-security75.ef8-security75
    span.step.size-14
      span.letters Pp
      i#ef8-security75.ef8-security75
    span.step.size-16
      span.letters Pp
      i#ef8-security75.ef8-security75
    span.step.size-18
      span.letters Pp
      i#ef8-security75.ef8-security75
    span.step.size-21
      span.letters Pp
      i#ef8-security75.ef8-security75
    span.step.size-24
      span.letters Pp
      i#ef8-security75.ef8-security75
    span.step.size-36
      span.letters Pp
      i#ef8-security75.ef8-security75
    span.step.size-48
      span.letters Pp
      i#ef8-security75.ef8-security75
    span.step.size-60
      span.letters Pp
      i#ef8-security75.ef8-security75
    span.step.size-72
      span.letters Pp
      i#ef8-security75.ef8-security75
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-security75" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf126;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-security76.ef8-security76
    span.step.size-14
      span.letters Pp
      i#ef8-security76.ef8-security76
    span.step.size-16
      span.letters Pp
      i#ef8-security76.ef8-security76
    span.step.size-18
      span.letters Pp
      i#ef8-security76.ef8-security76
    span.step.size-21
      span.letters Pp
      i#ef8-security76.ef8-security76
    span.step.size-24
      span.letters Pp
      i#ef8-security76.ef8-security76
    span.step.size-36
      span.letters Pp
      i#ef8-security76.ef8-security76
    span.step.size-48
      span.letters Pp
      i#ef8-security76.ef8-security76
    span.step.size-60
      span.letters Pp
      i#ef8-security76.ef8-security76
    span.step.size-72
      span.letters Pp
      i#ef8-security76.ef8-security76
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-security76" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf127;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-signs5.ef8-signs5
    span.step.size-14
      span.letters Pp
      i#ef8-signs5.ef8-signs5
    span.step.size-16
      span.letters Pp
      i#ef8-signs5.ef8-signs5
    span.step.size-18
      span.letters Pp
      i#ef8-signs5.ef8-signs5
    span.step.size-21
      span.letters Pp
      i#ef8-signs5.ef8-signs5
    span.step.size-24
      span.letters Pp
      i#ef8-signs5.ef8-signs5
    span.step.size-36
      span.letters Pp
      i#ef8-signs5.ef8-signs5
    span.step.size-48
      span.letters Pp
      i#ef8-signs5.ef8-signs5
    span.step.size-60
      span.letters Pp
      i#ef8-signs5.ef8-signs5
    span.step.size-72
      span.letters Pp
      i#ef8-signs5.ef8-signs5
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-signs5" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf128;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-skyscraper8.ef8-skyscraper8
    span.step.size-14
      span.letters Pp
      i#ef8-skyscraper8.ef8-skyscraper8
    span.step.size-16
      span.letters Pp
      i#ef8-skyscraper8.ef8-skyscraper8
    span.step.size-18
      span.letters Pp
      i#ef8-skyscraper8.ef8-skyscraper8
    span.step.size-21
      span.letters Pp
      i#ef8-skyscraper8.ef8-skyscraper8
    span.step.size-24
      span.letters Pp
      i#ef8-skyscraper8.ef8-skyscraper8
    span.step.size-36
      span.letters Pp
      i#ef8-skyscraper8.ef8-skyscraper8
    span.step.size-48
      span.letters Pp
      i#ef8-skyscraper8.ef8-skyscraper8
    span.step.size-60
      span.letters Pp
      i#ef8-skyscraper8.ef8-skyscraper8
    span.step.size-72
      span.letters Pp
      i#ef8-skyscraper8.ef8-skyscraper8
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-skyscraper8" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf129;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-store16.ef8-store16
    span.step.size-14
      span.letters Pp
      i#ef8-store16.ef8-store16
    span.step.size-16
      span.letters Pp
      i#ef8-store16.ef8-store16
    span.step.size-18
      span.letters Pp
      i#ef8-store16.ef8-store16
    span.step.size-21
      span.letters Pp
      i#ef8-store16.ef8-store16
    span.step.size-24
      span.letters Pp
      i#ef8-store16.ef8-store16
    span.step.size-36
      span.letters Pp
      i#ef8-store16.ef8-store16
    span.step.size-48
      span.letters Pp
      i#ef8-store16.ef8-store16
    span.step.size-60
      span.letters Pp
      i#ef8-store16.ef8-store16
    span.step.size-72
      span.letters Pp
      i#ef8-store16.ef8-store16
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-store16" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf12a;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-store17.ef8-store17
    span.step.size-14
      span.letters Pp
      i#ef8-store17.ef8-store17
    span.step.size-16
      span.letters Pp
      i#ef8-store17.ef8-store17
    span.step.size-18
      span.letters Pp
      i#ef8-store17.ef8-store17
    span.step.size-21
      span.letters Pp
      i#ef8-store17.ef8-store17
    span.step.size-24
      span.letters Pp
      i#ef8-store17.ef8-store17
    span.step.size-36
      span.letters Pp
      i#ef8-store17.ef8-store17
    span.step.size-48
      span.letters Pp
      i#ef8-store17.ef8-store17
    span.step.size-60
      span.letters Pp
      i#ef8-store17.ef8-store17
    span.step.size-72
      span.letters Pp
      i#ef8-store17.ef8-store17
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-store17" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf12b;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-store18.ef8-store18
    span.step.size-14
      span.letters Pp
      i#ef8-store18.ef8-store18
    span.step.size-16
      span.letters Pp
      i#ef8-store18.ef8-store18
    span.step.size-18
      span.letters Pp
      i#ef8-store18.ef8-store18
    span.step.size-21
      span.letters Pp
      i#ef8-store18.ef8-store18
    span.step.size-24
      span.letters Pp
      i#ef8-store18.ef8-store18
    span.step.size-36
      span.letters Pp
      i#ef8-store18.ef8-store18
    span.step.size-48
      span.letters Pp
      i#ef8-store18.ef8-store18
    span.step.size-60
      span.letters Pp
      i#ef8-store18.ef8-store18
    span.step.size-72
      span.letters Pp
      i#ef8-store18.ef8-store18
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-store18" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf12c;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-telephone269.ef8-telephone269
    span.step.size-14
      span.letters Pp
      i#ef8-telephone269.ef8-telephone269
    span.step.size-16
      span.letters Pp
      i#ef8-telephone269.ef8-telephone269
    span.step.size-18
      span.letters Pp
      i#ef8-telephone269.ef8-telephone269
    span.step.size-21
      span.letters Pp
      i#ef8-telephone269.ef8-telephone269
    span.step.size-24
      span.letters Pp
      i#ef8-telephone269.ef8-telephone269
    span.step.size-36
      span.letters Pp
      i#ef8-telephone269.ef8-telephone269
    span.step.size-48
      span.letters Pp
      i#ef8-telephone269.ef8-telephone269
    span.step.size-60
      span.letters Pp
      i#ef8-telephone269.ef8-telephone269
    span.step.size-72
      span.letters Pp
      i#ef8-telephone269.ef8-telephone269
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-telephone269" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf12d;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-traffic2.ef8-traffic2
    span.step.size-14
      span.letters Pp
      i#ef8-traffic2.ef8-traffic2
    span.step.size-16
      span.letters Pp
      i#ef8-traffic2.ef8-traffic2
    span.step.size-18
      span.letters Pp
      i#ef8-traffic2.ef8-traffic2
    span.step.size-21
      span.letters Pp
      i#ef8-traffic2.ef8-traffic2
    span.step.size-24
      span.letters Pp
      i#ef8-traffic2.ef8-traffic2
    span.step.size-36
      span.letters Pp
      i#ef8-traffic2.ef8-traffic2
    span.step.size-48
      span.letters Pp
      i#ef8-traffic2.ef8-traffic2
    span.step.size-60
      span.letters Pp
      i#ef8-traffic2.ef8-traffic2
    span.step.size-72
      span.letters Pp
      i#ef8-traffic2.ef8-traffic2
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-traffic2" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf12e;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-transport535.ef8-transport535
    span.step.size-14
      span.letters Pp
      i#ef8-transport535.ef8-transport535
    span.step.size-16
      span.letters Pp
      i#ef8-transport535.ef8-transport535
    span.step.size-18
      span.letters Pp
      i#ef8-transport535.ef8-transport535
    span.step.size-21
      span.letters Pp
      i#ef8-transport535.ef8-transport535
    span.step.size-24
      span.letters Pp
      i#ef8-transport535.ef8-transport535
    span.step.size-36
      span.letters Pp
      i#ef8-transport535.ef8-transport535
    span.step.size-48
      span.letters Pp
      i#ef8-transport535.ef8-transport535
    span.step.size-60
      span.letters Pp
      i#ef8-transport535.ef8-transport535
    span.step.size-72
      span.letters Pp
      i#ef8-transport535.ef8-transport535
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-transport535" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf12f;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-transport536.ef8-transport536
    span.step.size-14
      span.letters Pp
      i#ef8-transport536.ef8-transport536
    span.step.size-16
      span.letters Pp
      i#ef8-transport536.ef8-transport536
    span.step.size-18
      span.letters Pp
      i#ef8-transport536.ef8-transport536
    span.step.size-21
      span.letters Pp
      i#ef8-transport536.ef8-transport536
    span.step.size-24
      span.letters Pp
      i#ef8-transport536.ef8-transport536
    span.step.size-36
      span.letters Pp
      i#ef8-transport536.ef8-transport536
    span.step.size-48
      span.letters Pp
      i#ef8-transport536.ef8-transport536
    span.step.size-60
      span.letters Pp
      i#ef8-transport536.ef8-transport536
    span.step.size-72
      span.letters Pp
      i#ef8-transport536.ef8-transport536
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-transport536" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf130;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef8-water103.ef8-water103
    span.step.size-14
      span.letters Pp
      i#ef8-water103.ef8-water103
    span.step.size-16
      span.letters Pp
      i#ef8-water103.ef8-water103
    span.step.size-18
      span.letters Pp
      i#ef8-water103.ef8-water103
    span.step.size-21
      span.letters Pp
      i#ef8-water103.ef8-water103
    span.step.size-24
      span.letters Pp
      i#ef8-water103.ef8-water103
    span.step.size-36
      span.letters Pp
      i#ef8-water103.ef8-water103
    span.step.size-48
      span.letters Pp
      i#ef8-water103.ef8-water103
    span.step.size-60
      span.letters Pp
      i#ef8-water103.ef8-water103
    span.step.size-72
      span.letters Pp
      i#ef8-water103.ef8-water103
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef8-water103" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf131;" /
