header
  h1 ei-font-9 contains 6 glyphs:
  a href="#" onclick=("toggleCharacters(); return false;")  Toggle Preview Characters
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef9-butler.ef9-butler
    span.step.size-14
      span.letters Pp
      i#ef9-butler.ef9-butler
    span.step.size-16
      span.letters Pp
      i#ef9-butler.ef9-butler
    span.step.size-18
      span.letters Pp
      i#ef9-butler.ef9-butler
    span.step.size-21
      span.letters Pp
      i#ef9-butler.ef9-butler
    span.step.size-24
      span.letters Pp
      i#ef9-butler.ef9-butler
    span.step.size-36
      span.letters Pp
      i#ef9-butler.ef9-butler
    span.step.size-48
      span.letters Pp
      i#ef9-butler.ef9-butler
    span.step.size-60
      span.letters Pp
      i#ef9-butler.ef9-butler
    span.step.size-72
      span.letters Pp
      i#ef9-butler.ef9-butler
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef9-butler" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf100;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef9-employee2.ef9-employee2
    span.step.size-14
      span.letters Pp
      i#ef9-employee2.ef9-employee2
    span.step.size-16
      span.letters Pp
      i#ef9-employee2.ef9-employee2
    span.step.size-18
      span.letters Pp
      i#ef9-employee2.ef9-employee2
    span.step.size-21
      span.letters Pp
      i#ef9-employee2.ef9-employee2
    span.step.size-24
      span.letters Pp
      i#ef9-employee2.ef9-employee2
    span.step.size-36
      span.letters Pp
      i#ef9-employee2.ef9-employee2
    span.step.size-48
      span.letters Pp
      i#ef9-employee2.ef9-employee2
    span.step.size-60
      span.letters Pp
      i#ef9-employee2.ef9-employee2
    span.step.size-72
      span.letters Pp
      i#ef9-employee2.ef9-employee2
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef9-employee2" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf101;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef9-office-worker.ef9-office-worker
    span.step.size-14
      span.letters Pp
      i#ef9-office-worker.ef9-office-worker
    span.step.size-16
      span.letters Pp
      i#ef9-office-worker.ef9-office-worker
    span.step.size-18
      span.letters Pp
      i#ef9-office-worker.ef9-office-worker
    span.step.size-21
      span.letters Pp
      i#ef9-office-worker.ef9-office-worker
    span.step.size-24
      span.letters Pp
      i#ef9-office-worker.ef9-office-worker
    span.step.size-36
      span.letters Pp
      i#ef9-office-worker.ef9-office-worker
    span.step.size-48
      span.letters Pp
      i#ef9-office-worker.ef9-office-worker
    span.step.size-60
      span.letters Pp
      i#ef9-office-worker.ef9-office-worker
    span.step.size-72
      span.letters Pp
      i#ef9-office-worker.ef9-office-worker
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef9-office-worker" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf102;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef9-office-worker1.ef9-office-worker1
    span.step.size-14
      span.letters Pp
      i#ef9-office-worker1.ef9-office-worker1
    span.step.size-16
      span.letters Pp
      i#ef9-office-worker1.ef9-office-worker1
    span.step.size-18
      span.letters Pp
      i#ef9-office-worker1.ef9-office-worker1
    span.step.size-21
      span.letters Pp
      i#ef9-office-worker1.ef9-office-worker1
    span.step.size-24
      span.letters Pp
      i#ef9-office-worker1.ef9-office-worker1
    span.step.size-36
      span.letters Pp
      i#ef9-office-worker1.ef9-office-worker1
    span.step.size-48
      span.letters Pp
      i#ef9-office-worker1.ef9-office-worker1
    span.step.size-60
      span.letters Pp
      i#ef9-office-worker1.ef9-office-worker1
    span.step.size-72
      span.letters Pp
      i#ef9-office-worker1.ef9-office-worker1
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef9-office-worker1" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf103;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef9-silhouette67.ef9-silhouette67
    span.step.size-14
      span.letters Pp
      i#ef9-silhouette67.ef9-silhouette67
    span.step.size-16
      span.letters Pp
      i#ef9-silhouette67.ef9-silhouette67
    span.step.size-18
      span.letters Pp
      i#ef9-silhouette67.ef9-silhouette67
    span.step.size-21
      span.letters Pp
      i#ef9-silhouette67.ef9-silhouette67
    span.step.size-24
      span.letters Pp
      i#ef9-silhouette67.ef9-silhouette67
    span.step.size-36
      span.letters Pp
      i#ef9-silhouette67.ef9-silhouette67
    span.step.size-48
      span.letters Pp
      i#ef9-silhouette67.ef9-silhouette67
    span.step.size-60
      span.letters Pp
      i#ef9-silhouette67.ef9-silhouette67
    span.step.size-72
      span.letters Pp
      i#ef9-silhouette67.ef9-silhouette67
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef9-silhouette67" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf104;" /
.glyph
  .preview-glyphs
    span.step.size-12
      span.letters Pp
      i#ef9-worker18.ef9-worker18
    span.step.size-14
      span.letters Pp
      i#ef9-worker18.ef9-worker18
    span.step.size-16
      span.letters Pp
      i#ef9-worker18.ef9-worker18
    span.step.size-18
      span.letters Pp
      i#ef9-worker18.ef9-worker18
    span.step.size-21
      span.letters Pp
      i#ef9-worker18.ef9-worker18
    span.step.size-24
      span.letters Pp
      i#ef9-worker18.ef9-worker18
    span.step.size-36
      span.letters Pp
      i#ef9-worker18.ef9-worker18
    span.step.size-48
      span.letters Pp
      i#ef9-worker18.ef9-worker18
    span.step.size-60
      span.letters Pp
      i#ef9-worker18.ef9-worker18
    span.step.size-72
      span.letters Pp
      i#ef9-worker18.ef9-worker18
  .preview-scale
    span.step 12
    span.step 14
    span.step 16
    span.step 18
    span.step 21
    span.step 24
    span.step 36
    span.step 48
    span.step 60
    span.step 72
  .usage
    input.class onclick="this.select();" readonly="readonly" type="text" value="ef9-worker18" /
    input.point onclick="this.select();" readonly="readonly" type="text" value="&amp;#xf105;" /