#page.container
  .font-lists
    .row
      = link_to test_fonts_path(font: "ef1"), class: "col-4" do
        span Font 1
      = link_to test_fonts_path(font: "ef2"), class: "col-4" do
        span Font 2
      = link_to test_fonts_path(font: "ef3"), class: "col-4" do
        span Font 3
      = link_to test_fonts_path(font: "ef4"), class: "col-4" do
        span Font 4
    .row
      = link_to test_fonts_path(font: "ef5"), class: "col-4" do
        span Font 5
      = link_to test_fonts_path(font: "ef6"), class: "col-4" do
        span Font 6
      = link_to test_fonts_path(font: "ef7"), class: "col-4" do
        span Font 7
      = link_to test_fonts_path(font: "ef8"), class: "col-4" do
        span Font 8
    .row
      = link_to test_fonts_path(font: "ef9"), class: "col-4" do
        span Font 9
      = link_to test_fonts_path(font: "ef10"), class: "col-4" do
        span Font 10
      = link_to test_fonts_path(font: "ef11"), class: "col-4" do
        span Font 11
      = link_to test_fonts_path(font: "ef12"), class: "col-4" do
        span Font 12
    .row
      = link_to test_fonts_path(font: "ef13"), class: "col-4" do
        span Font 13
      = link_to test_fonts_path(font: "ef14"), class: "col-4" do
        span Font 14
      = link_to test_fonts_path(font: "ef15"), class: "col-4" do
        span Font 15
      = link_to test_fonts_path(font: "ef16"), class: "col-4" do
        span Font 16
    .row
      = link_to test_fonts_path(font: "ef17"), class: "col-4" do
        span Font 17
      = link_to test_fonts_path(font: "ef18"), class: "col-4" do
        span Font 18
      = link_to test_fonts_path(font: "ef19"), class: "col-4" do
        span Font 19
      = link_to test_fonts_path(font: "ef20"), class: "col-4" do
        span Font 20
    .row
      = link_to test_fonts_path(font: "ef21"), class: "col-4" do
        span Font 21
      = link_to test_fonts_path(font: "ef22"), class: "col-4" do
        span Font 22
      = link_to test_fonts_path(font: "ef23"), class: "col-4" do
        span Font 23
      = link_to test_fonts_path(font: "ef24"), class: "col-4" do
        span Font 24
    .row
      = link_to test_fonts_path(font: "ef25"), class: "col-4" do
        span Font 25
      = link_to test_fonts_path(font: "ef26"), class: "col-4" do
        span Font 26
      = link_to test_fonts_path(font: "ef27"), class: "col-4" do
        span Font 27
  .font-container
    = render params[:font]
  footer
    | Made with love using
    a href="http://fontcustom.com"  Font Custom
