
.container.ind
  /! row of 12's (12 columns)
  .row
    .col-12 col-12
    .col-12 col-12
    .col-12 col-12
    .col-12 col-12
    .col-12 col-12
    .col-12 col-12
    .col-12 col-12
    .col-12 col-12
    .col-12 col-12
    .col-12 col-12
    .col-12 col-12
    .col-12 col-12
  /! row of 11's
  .row
    .col-11 col-11
    .col-11 col-11
    .col-11 col-11
    .col-11 col-11
    .col-11 col-11
    .col-11 col-11
    .col-11 col-11
    .col-11 col-11
    .col-11 col-11
    .col-11 col-11
    .col-11 col-11
  /! row of 10's
  .row
    .col-10 col-10
    .col-10 col-10
    .col-10 col-10
    .col-10 col-10
    .col-10 col-10
    .col-10 col-10
    .col-10 col-10
    .col-10 col-10
    .col-10 col-10
    .col-10 col-10
  /! row of 9's
  .row
    .col-9 col-9
    .col-9 col-9
    .col-9 col-9
    .col-9 col-9
    .col-9 col-9
    .col-9 col-9
    .col-9 col-9
    .col-9 col-9
    .col-9 col-9
  /! row of 8's
  .row
    .col-8 col-8
    .col-8 col-8
    .col-8 col-8
    .col-8 col-8
    .col-8 col-8
    .col-8 col-8
    .col-8 col-8
    .col-8 col-8
  /! row of 7's
  .row
    .col-7 col-7
    .col-7 col-7
    .col-7 col-7
    .col-7 col-7
    .col-7 col-7
    .col-7 col-7
    .col-7 col-7
  /! row of 6's
  .row
    .col-6 col-6
    .col-6 col-6
    .col-6 col-6
    .col-6 col-6
    .col-6 col-6
    .col-6 col-6
  /! row of 5's
  .row
    .col-5 col-5
    .col-5 col-5
    .col-5 col-5
    .col-5 col-5
    .col-5 col-5
  /! row of 4's
  .row
    .col-4 col-4
    .col-4 col-4
    .col-4 col-4
    .col-4 col-4
  /! row of 3's
  .row
    .col-3 col-3
    .col-3 col-3
    .col-3 col-3
  /! row of 2's
  .row
    .col-2 col-2
    .col-2 col-2
  /! row of 1 (single column)
  .row
    .col-1 col-1
/! eof container
/!
  | \====
  | \================ MAIN WRAPPER FOR CONTENT, COMPLEMENTS ====
.container.ind
  /! 12 &amp; 12's complement
  .row
    .col-12 col-12
    .col-12c col-12c
  /! 11 &amp; 11's complement
  .row
    .col-11 col-11
    .col-11c col-11c
  /! 10 &amp; 10's complement
  .row
    .col-10 col-10
    .col-10c col-10c
  /! 9 &amp; 9's complement
  .row
    .col-9 col-9
    .col-9c col-9c
  /! 8 &amp; 8's complement
  .row
    .col-8 col-8
    .col-8c col-8c
  /! 7 &amp; 7's complement
  .row
    .col-7 col-7
    .col-7c col-7c
  /! 6 &amp; 6's complement
  .row
    .col-6 col-6
    .col-6c col-6c
  /! 5 &amp; 5's complement
  .row
    .col-5 col-5
    .col-5c col-5c
  /! 4 &amp; 4's complement
  .row
    .col-4 col-4
    .col-4c col-4c
  /! 3 &amp; 3's complement
  .row
    .col-3 col-3
    .col-3c col-3c
  /! 2 &amp; 2's complement
  .row
    .col-2 col-2
    .col-2 col-2c (same width as col-2)
  /! 1's complement
  .row
    .col-1 col-1 (no complement)
/! eof container, complements
