header.fixed-header
  .container
    .brand
      h1 Euisep
    .navigation
      ul
        li Home
        li About
        li Contact

section.body-on-scroll
  .row
    .col-5.side-navigation style="background: #efefef;"
      p start of content
      .box style="height:900px; background: green;"
      p end of content

    .col-5c.content-holder
      .row
        .col-1
          h1 start of content
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          h2 end of content
      .row
        .col-2 style="height:900px; background: blue;"
        .col-2 style="height:900px; background: yellow;"
        h2 end of content




footer.fixed-footer